.chapterIllustration {
  display: none;
}


.chapterIllustrationImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: rgb(216, 245, 196);
  width: 100%;
  flex-basis: 66%;
}

.chapterIllustrationCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //background-color: rgb(221, 200, 158);
  width: 100%;
  flex-basis: 33%;
  border-top: 1px solid #{darken($colorGreyLightBg, 10)};
  border-bottom: 1px solid #{darken($colorGreyLightBg, 10)};
  padding: 1rem 0;
  font-size: .85rem;
  overflow-y: scroll;
}

.captionTitle {
  font-weight: 700;
}



.chapterIllustrationImage img {
  box-shadow: 4px 4px 5px rgba(144, 144, 144, 0.6);
  width: 200px;
}

.imgFillH {
  height: calc(60vh - 2rem) !important;
  width: auto !important;
}

.imgFillW {
  width: calc(100% - 2rem) !important;
  height: auto !important;
}

.caption {
  display: block;
  font-size: .85rem;
  margin-top: 1rem;
}

.chapterTxt img {
  width: calc(100% + 3rem);
  height: auto;
  margin-left: -1.5rem;
  margin-right: -1.5rem
}

.moreCaption {
  //display: none;
}

.openCaption {
  float: right;
  cursor: pointer;
}

.inlineImgRow {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .chapterIllustration {
    z-index: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $colorGreyLightBg;
    border-right: 1px solid #{darken($colorGreyLightBg, 3)};
    left: 0;
    top: 0;
    width: calc(#{$sideBarWith} + 1px);
    height: 100vh;

    img {

    }
  }
  .chapterTxt .caption {
    display: none;
  }

  .caption {
    max-width: 440px;
    width: 100%;
  }

  .chapterTxt img {
    width: 150px;
    height: auto;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
  }

  .moreCaption {
    display: flex;
    flex-direction: column;
  }
  .openCaption {
    display: none;
  }

  .inlineImgRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 2rem 0;
    padding: 2rem 0;
    width: 100%;

    img {
      width: auto;
      height: 150px;
      cursor: pointer;
      margin-left: 0;
      margin-right: 10px;

    }
  }
  .inlineImgRow::after {
    content: "";
    display: block;
    width: 100%;
    color: #999;
    font-size: .85rem;
  }
}

.zoomIcon {
  margin-top: -2rem;

  a {
    color: $colorTxt;
    background-color: rgba(#ffffff, 0.7);
    padding: .5rem;
  }
}
