.titleHeroBG {
  width: 100vw;
  height: 75vh;
  background-color: $colorNMGNBlue2;
  background: url('../images/wave.png') 50%, linear-gradient(45deg, $colorNMGNBlue2, $colorNMGNBlue1);
  position: absolute;
  z-index: 10;
  top: -4vh;
  left: 0;
  box-sizing:content-box;
  transform: skewY(2deg);


}

.titleHero{
  width: auto;
  height: $heroHeight;
  color: #ffffff;
  z-index: 100;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: #e4cb80;
}


.titleHeroInfoLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.titleHeroInfoLine >*{
  margin: 0 2rem 2rem 1rem;
}


@media (min-width: 1000px) {
  .titleHero{
    margin-bottom: 3rem;
  }
}

.titleHero h1{
  color: $colorNMGNGreen;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .titleHero h1{
    font-size: 60px;
    line-height: 110%;
  }
}

  @media (min-width: 1200px) {
    .titleHero h1{
      font-size: 60px;
      font-size: calc((100% + 0.25vw) * 4);
      line-height: 110%;
      text-align: center;
    }

}
