.aorCompManuscript{
  background-color: hsl(0, 0%, 10%);
  display: inline-block;
  padding: 1rem;
  font-size: .85rem;
  width: 100%;

  .aorImgWindow {


    .hcTabContent {
      justify-content: center;
      margin: -1rem -1rem 1rem -1rem;
      position: relative;
      width: calc(100% + 2rem);
      height: 400px;
      overflow: scroll;


      img {
        height:100%;
        width: auto;
        position: absolute;
        z-index: 00;
      }
    }





  }

  figcaption {
    padding-left: 0rem;
  }
}


.aorFilioInfo {
  display: flex;
  flex-direction: row;
}

.aorFolioToggles{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  flex: 3
}

.aorFoliosTab{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.aorFoliosManuscript {
  flex: 1;
  border-left: 1px solid #{$manuscriptBegeDark};
  padding-left: 1rem;

}

@media (min-width: 1000px) {

}




// SVG
.aorHighLightStroke {
  stroke: #ffffff;
  stroke-width:1.5px;
  fill:none;
  border-radius: 3px;
}
.maskFill {
  fill: black;
  border-radius: 3px;

}
.aorFolios {
  display: flex;
}

.aorFolioSections{
  cursor: pointer;
  padding: .1rem 0;
  margin-right: 1rem;
  border-bottom: 2px solid #{$manuscriptBege};
}

.aorZoom {

  width: 100%;
  text-align: center;
  z-index: 100;

  button{
    background-color: rgba(#ffffff, 0.5);
    border: none;
    padding: .2rem .5rem;
  }
}


.aorImgFS {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  z-index: 500;
}

.aorImgFShead {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #5b5b5b;
}
#aorImgFScontent {
  display: flex;
  justify-content: center;
  align-items: center;

  >* {
    margin-top: 0;
    width: 100%;
    max-width: 900px;
  }
}
