@import url("https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i&display=swap");
.aorWrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.aorNavigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c9e2c2;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }
  .aorNavigation nav {
    flex-direction: column;
    display: flex; }
    .aorNavigation nav .l2 {
      margin-left: 1rem; }

.aorContent {
  max-width: 600px;
  padding: 4rem 1rem 0 1rem; }
  .aorContent img {
    width: 200px;
    height: auto; }
  .aorContent figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
    .aorContent figure figcaption {
      font-size: .9rem;
      color: #818181;
      margin-left: 1rem; }

.aorTitle {
  padding: .5rem 1rem;
  background-color: #e1f7e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .8rem; }

.stickyFoot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  background-color: #e1f7e4;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.stickyFoot > * {
  margin-right: 2rem; }

.f-name {
  display: none; }

html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'IM Fell English', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  color: #3e3e3e; }

.tempContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tempContainer2 {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row; }

.tempNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding: 2rem; }
  .tempNav nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .tempNav nav .l2 {
      margin-left: 1rem; }

#home {
  background-color: #e7e8de;
  width: 100vw;
  height: auto; }

#th1, #th2, #th3 {
  display: none; }

.tempContent {
  max-width: 650px;
  width: 100%;
  padding: 0 2rem; }
  .tempContent img {
    width: 300px;
    height: auto; }
  .tempContent figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
    .tempContent figure figcaption {
      font-size: .9rem;
      color: #818181;
      margin-left: 1rem; }

.tempTitle {
  background-color: #f1e9f0;
  padding: 1rem 1rem;
  margin: 0 -1rem; }

.timeline {
  background-color: #edebde;
  width: 100vw;
  height: calc(100vh - 6rem);
  min-width: 500px; }
