@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Andada");
html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1em; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 700;
  font-family: 'Andada', serif; }

h2 {
  font-size: 1.3rem;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700;
  display: inline; }

@media (min-width: 600px) {
  body {
    line-height: 150%; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.pageHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0d77c9;
  justify-content: space-between;
  align-items: center;
  font-size: .85rem;
  color: #fff;
  position: relative;
  z-index: 200; }

.pageHeader a {
  color: #fff; }

@media (min-width: 600px) {
  .pageHeader {
    flex-direction: row;
    font-size: 1rem; } }

.headerItems {
  display: flex;
  flex-direction: row; }

.headerItems > * {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  height: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }

.headerItem:first-child {
  margin-left: 0rem; }

.titleHeroBG {
  width: 100vw;
  height: 75vh;
  background-color: #448ccb;
  background: url("../images/wave.png") 50%, linear-gradient(45deg, #448ccb, #0d77c9);
  position: absolute;
  z-index: 10;
  top: -4vh;
  left: 0;
  box-sizing: content-box;
  transform: skewY(2deg); }

.titleHero {
  width: auto;
  height: 66vh;
  color: #ffffff;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.titleHeroInfoLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.titleHeroInfoLine > * {
  margin: 0 2rem 2rem 1rem; }

@media (min-width: 1000px) {
  .titleHero {
    margin-bottom: 3rem; } }

.titleHero h1 {
  color: #2effdf;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

@media (min-width: 600px) {
  .titleHero h1 {
    font-size: 60px;
    line-height: 110%; } }

@media (min-width: 1200px) {
  .titleHero h1 {
    font-size: 60px;
    font-size: calc((100% + 0.25vw) * 4);
    line-height: 110%;
    text-align: center; } }

.chapterIllustration {
  display: none; }

.chapterIllustrationImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 66%; }

.chapterIllustrationCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-basis: 33%;
  border-top: 1px solid #bbd6e8;
  border-bottom: 1px solid #bbd6e8;
  padding: 1rem 0;
  font-size: .85rem;
  overflow-y: scroll; }

.captionTitle {
  font-weight: 700; }

.chapterIllustrationImage img {
  box-shadow: 4px 4px 5px rgba(144, 144, 144, 0.6);
  width: 200px; }

.imgFillH {
  height: calc(60vh - 2rem) !important;
  width: auto !important; }

.imgFillW {
  width: calc(100% - 2rem) !important;
  height: auto !important; }

.caption {
  display: block;
  font-size: .85rem;
  margin-top: 1rem; }

.chapterTxt img {
  width: calc(100% + 3rem);
  height: auto;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.openCaption {
  float: right;
  cursor: pointer; }

.inlineImgRow {
  display: flex;
  flex-direction: column; }

@media (min-width: 1000px) {
  .chapterIllustration {
    z-index: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #e1edf5;
    border-right: 1px solid #d6e6f1;
    left: 0;
    top: 0;
    width: calc(34vw + 1px);
    height: 100vh; }
  .chapterTxt .caption {
    display: none; }
  .caption {
    max-width: 440px;
    width: 100%; }
  .chapterTxt img {
    width: 150px;
    height: auto;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0; }
  .moreCaption {
    display: flex;
    flex-direction: column; }
  .openCaption {
    display: none; }
  .inlineImgRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 2rem 0;
    padding: 2rem 0;
    width: 100%; }
    .inlineImgRow img {
      width: auto;
      height: 150px;
      cursor: pointer;
      margin-left: 0;
      margin-right: 10px; }
  .inlineImgRow::after {
    content: "";
    display: block;
    width: 100%;
    color: #999;
    font-size: .85rem; } }

.zoomIcon {
  margin-top: -2rem; }
  .zoomIcon a {
    color: #3e3e3e;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem; }

figure.zoom {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  cursor: zoom-in; }
  figure.zoom .imgFillH {
    height: calc(100vh - 2rem) !important;
    width: auto !important; }
  figure.zoom .imgFillW {
    width: calc(100vw - 2rem) !important;
    height: auto !important; }

figure.zoom img:hover {
  opacity: 0; }

figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%; }

.basicWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.basicSiteMax {
  width: 100%;
  max-width: 1200px; }

.chapterTxtWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.chapterTxt {
  width: 100%;
  max-width: 600px;
  display: block; }

.chapterTxt h2 {
  margin-top: 4rem; }

.chapterNav {
  display: none; }

nav {
  display: flex;
  flex-direction: column; }

@media (min-width: 1000px) {
  .chapterTxtWrap {
    width: 66vw;
    margin-left: 33vw; }
  .chapterTxtWrap .bijschrift {
    display: none; }
  .chapterNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 66vh;
    padding: 7rem 1.5rem;
    left: 0;
    width: 34vw;
    background-image: linear-gradient(to bottom, #e1edf5 90%, rgba(240, 240, 242, 0));
    color: #448ccb; }
  .chapterNav div {
    width: 350px; }
  .chapterNav a {
    color: #0d77c9; } }

#subNavigation {
  position: relative;
  z-index: 500; }

* {
  box-sizing: border-box; }

a {
  color: #0087d4; }

.basicSideMargin {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.icon {
  width: .8rem;
  height: auto;
  opacity: .4;
  cursor: pointer; }

.noSmall {
  display: none; }

@media (min-width: 600px) {
  .noSmall {
    display: inline; } }

.quote {
  margin-left: 1rem;
  font-family: 'Andada', serif; }

.quote p {
  margin-bottom: 0rem; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; }

.noot {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #448ccb;
  width: 25px;
  height: 25px;
  font-size: .8rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -3px);
  font-family: 'Roboto', sans-serif; }

.noot span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.noot a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #448ccb;
  width: 100%;
  height: 100%;
  text-align: center; }

.noteAside {
  background-color: #e7d1d1;
  background-image: linear-gradient(#eeeeee, #ffffff 30%);
  border-top: 1px solid #e8e2e2;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  flex-direction: column;
  font-size: .85rem;
  padding: 1rem;
  display: none;
  min-height: 2px;
  height: auto;
  transition: height .3s;
  z-index: 100; }

.noteHeader {
  display: flex;
  justify-content: space-between; }

.noteIndex {
  font-weight: bold;
  margin-right: .5em; }

.locaRight {
  width: 1px;
  height: 1px;
  float: right; }

@media (min-width: 1000px) {
  .noteAside {
    width: calc(66vw - 1px);
    right: 0;
    left: auto; } }

@media (min-width: 1200px) {
  .noteAside {
    width: 150px;
    background: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    color: #999999;
    line-height: 130%;
    border-top: none;
    padding: 0; }
  .noteHeader {
    margin-bottom: 1.5rem; }
  .chapterTxt {
    transform: translate(-50px, 0); } }

.notesList {
  margin: 3rem 0;
  font-size: .85rem;
  line-height: 150%; }
  .notesList li {
    margin: 1rem 0; }

.popNavigation {
  background-color: #2effdf;
  color: #0d77c9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: flex-start; }

.popNavigation a {
  color: #0d77c9;
  margin-bottom: .5rem; }

.popNavHeader {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end; }

.popNavContent {
  width: 100%; }

.popNavContent > * {
  display: flex;
  flex-direction: column;
  width: calc(25% - 2rem);
  margin-top: 10vh;
  margin-left: 2rem; }

.popNavContent > *:first-child {
  display: none; }

@media (min-width: 800px) {
  .popNavContent {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.popNavHeader .icon {
  width: 2rem; }

.bigImageViewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.bigImageHeader {
  position: fixed;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1100; }

.slider {
  width: 100%; }
