html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

.tempContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tempContent {
  max-width: 650px;
  width: 100%;
  padding: 0 2rem; }

.tempTitle {
  background-color: #f1e9f0; }

nav {
  background-color: #b8b8b8;
  padding: 1rem 1rem;
  margin: 0 -1rem; }
