<figure class="aorCompManuscript" id="{{folioname}}">
	<div id="img_{{folioname}}" class="aorImgWindow">

		{{#each parts}}
		<div id="tab-content-3{{fpid}}" class="hcTabContent {{folioname}}" onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3{{fpid}}', {{#if fpzoom}}{{fpzoom}}{{else}}1{{/if}}, {{#if fpmargin}}{{fpmargin}}{{else}}0{{/if}});

				var el = document.getElementById('tab-content-3{{fpid}}');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3{{fpid}}">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3{{fpid}}')" />
		</div>



			<img src="{{#if fimagePath}}{{fimagePath}}{{else}}images/manuscripts/th_{{/if}}{{foliofilename}}"  />
			<img src="images/svg-layers/{{{svggroup}}}"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="{{#if fimagePath}}{{fimagePath}}{{else}}images/manuscripts/{{/if}}{{foliofilename}}"  />
				<img src="images/svg-layers/{{{svggroup}}}"  onerror="this.style.display='none'">
			</div>

		</div>

		{{/each}}
	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_{{folioname}}">
				{{#each parts}}
					<div class="aorFolioSections hcTabLabel" id="tab-list-{{fpid}}">{{fpname}}</div>
				{{/each}}
			</div>
			<div class="aorFoliosCaption">
				{{#each parts}}
					<figcaption id="tab-content-{{fpid}}" class="hcTabContent">{{fpdescription}}</figcaption>
				{{/each}}
			</div>

		</div>





		<div class="aorFoliosManuscript">
			{{#each parts}}
				<figcaption id="tab-content-2{{fpid}}" class="hcTabContent {{folioname}}">
					<span>
					{{#if foliosource}}
					<a href="{{manuscript_filename}}.html">About the manuscript {{manuscript_location}} {{manuscript_shelfmark}}</a><br>
					<a href="{{foliosource}}" target="_blank">Source</a>
					{{/if}}
					</span>
				</figcaption>
			{{/each}}
		</div>


	</div>


</figure>
