<figure class="aorCompManuscript" id="{{folioname}}">
	<svg id="img_{{folioname}}" preserveAspectRatio="xMinYMin meet" viewBox="0 0 {{width}} {{height}}" class="{{folioname}}">

		{{#each parts}}
		<g id="tab-content-3{{fpid}}" class="hcTabContent {{folioname}}">
			<image href="{{#if fimagePath}}{{fimagePath}}{{else}}images/manuscripts/{{/if}}{{foliofilename}}"  />

			<image href="images/svg-layers/{{{svggroup}}}">


		</g>

		{{/each}}
	</svg>


	<div class="aorZoom">
		 <button type="button" name="button" onclick="zoomImg('out','img_{{folioname}}')">+</button>
	</div>

	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_{{folioname}}">
				{{#each parts}}
					<div class="aorFolioSections hcTabLabel" id="tab-list-{{fpid}}">{{fpname}}</div>
				{{/each}}
			</div>
			<div class="aorFoliosCaption">
				{{#each parts}}
					<figcaption id="tab-content-{{fpid}}" class="hcTabContent">{{fpdescription}}</figcaption>
				{{/each}}
			</div>

		</div>





		<div class="aorFoliosManuscript">
			{{#each parts}}
				<figcaption id="tab-content-2{{fpid}}" class="hcTabContent {{folioname}}">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="{{manuscript_filename}}.html">More about the manuscript {{manuscript_location}} {{manuscript_shelfmark}}</a><br>
					<a href="{{foliosource}}" target="_blank">Source</a>
					</span>
				</figcaption>
			{{/each}}
		</div>


	</div>


</figure>
