{{> html-head}}



<div class="aoSite">
  <div class="aorHomeHero aoWrapper">
    {{> top-navigation}}
    <div>
      <div class="aorHomeHeroLogo"><img src="images/logo-aor-icon.png" alt="logo Art of Reasoning" class="logoIcon"></div>
      <div class="aorHomeHeroLogo"><img src="images/logo_aor-1@2x.png" alt="logo Art of Reasoning" class="logoLines logoLines1"><img src="images/logo_aor-2@2x.png" alt="logo Art of Reasoning" class="logoLines logoLines2"></div>
      <div class="aorHomeHeroText">An online exhibition on the richness of medieval scholarly. Get to know the the great teachers like Alquin and John the Scot. Learn all about Art of Reasoning through hidden treasures in these wonderful manuscripts.</div>
    </div>
    <div></div>


  </div>
</div>

<div class="aorBlue aoSite aorWide">
  <div class="aorHomeThemes aoWrapper">
    <div class="aorHomeOpenManuscript">{{>home-manuscript}}</div>
    <div class="aorHomeThemesIntro">
      <h2>Themes</h2>
      <p>In four theme's we'll explain the richness of medieval scholarly. </p>
    </div>
    <div class="aorHome3Themes">
      <div class="aorHomeThem aorHomeTheme1" id="thm1"><h3>Dialectica and retorica</h3>
        <p>The art of reasoning was taught in schools at monasteries, cathedrals and universities, by teachers and for students. Traces in medieval manuscripts show the practices of education in multiple ways.</p>
        <p><a href="theme1.html"><em>Go to Dialectica and retorica</em></a></p>
      </div>
      <div class="aorHomeThem aorHomeTheme2" id="thm2">
        <div class="aorHomeTheme1"><h3>Teachers and students</h3>
          <p>The art of reasoning was taught in schools at monasteries, cathedrals and universities, by teachers and for students. Traces in medieval manuscripts show the practices of education in multiple ways.</p>
          <p><a href="theme2.html"><em>Go to Teachers and students</em></a></p>
        </div>
      </div>
      <div class="aorHomeThem aorHomeTheme3" id="thm3">
        <div class="aorHomeTheme1"><h3>Reading and learning</h3>
          <p>The art of reasoning was taught in schools at monasteries, cathedrals and universities, by teachers and for students. Traces in medieval manuscripts show the practices of education in multiple ways.</p>
          <p><a href="theme3.html"><em>Go to Reading and learning</em></a></p>
        </div>
      </div>
      <div class="aorHomeThem aorHomeTheme3" id="thm4">
        <div class="aorHomeTheme1"><h3>Debates and Controversies</h3>
          <p>The art of reasoning was taught in schools at monasteries, cathedrals and universities, by teachers and for students. Traces in medieval manuscripts show the practices of education in multiple ways.</p>
          <p><a href="theme4.html"><em>Go to Debates and Controversies</em></a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="aoSite">
  <div class="aorHomeManuscripts aoWrapper">
    <div class="aorHomeManuscriptsIntro">
      <h2>Explore the manuscripts</h2>
      <p>The manuscript are our looking glass: they reflect a world of thinking, arguing, learning, teaching, but also of joking, criticizing, fuming and dismissing. They show us colourful personalities and amazing anecdotes.</p>
    </div>
    <div class="aorHomeManuscriptsFeaturedList aorManuscriptCrdList">

        {{#each manuscriptsList}}
          {{#if on_home}}
            {{>manuscriptCard}}
          {{/if}}
        {{/each}}



    </div>
    <div class="aorHomeManuscriptsAllLink">
      <a href="manuscripts.html">See all the manuscripts</a>
  </div>
</div>


{{> html-foot}}
