{{> html-head}}



<div class="aoSite">
  <div class="aorHomeHero aoWrapper">
    {{> top-navigation}}
    <div class="aorMidwrap">
      <div class="aorHomeHeroLogo"><img src="images/logo-aor-icon.png" alt="logo Art of Reasoning" class="logoIcon"></div>
      <div class="aorHomeHeroLogo"><img src="images/logo_aor-1@2x.png" alt="logo Art of Reasoning" class="logoLines logoLines1"><img src="images/logo_aor-2@2x.png" alt="logo Art of Reasoning" class="logoLines logoLines2"></div>

      <div class="aorHomeSplit">

        <div class="aorHomeHeroText">In this exhibition medieval manuscripts are shown with texts concerning the art of reasoning. Discover what was taught in the medieval classroom, and how readers left their traces in medieval manuscripts while studying and learning. <a href="introduction.html">Introduction.</a></div>

        <div class="aorHomeTrailer">
          <a href="#" onClick="javascript:modalLoad('video'); return false"><img src="images/aorTrailer.jpg" alt="Watch the trailer"></a>
        </div>

      </div>



    </div>
    <div class="aorPartners">
      <span>Powered<br>by</span>
      <a href="https://www.huygens.knaw.nl"><img src="images/logo_huygensING.png" alt="Huygens ING"></a>
      <a href="https://www.nwo.nl"><img src="images/logo_nwo.png" alt="NWO"></a>
    </div>


  </div>
</div>

<div class="aorBlue aoSite aorWide">
  <div class="aorHomeThemes aoWrapper">
    <div class="aorHomeOpenManuscript">{{>home-manuscript}}</div>
    <div class="aorHomeThemesIntro">
      <h2>Explore four themes</h2>
    </div>
    <div class="aorHome3Themes">
      <div class="aorHomeThem aorHomeTheme1" id="thm1"><h3>Rhetoric and Dialectic</h3>
        <p>The arts of speaking (rhetoric) and reasoning (dialectic, or logic) were an essential part of the medieval curriculum.</p>
        <p><a href="theme1.html"><em>Go to Rhetoric and Dialectic</em></a></p>
      </div>
      <div class="aorHomeThem aorHomeTheme2" id="thm2">
        <div class="aorHomeTheme1"><h3>Teachers and Students</h3>
          <p>Manuscripts carry evidence of how teachers and students taught and learned texts. Learn more about these teachers and students here</p>
          <p><a href="theme2.html"><em>Go to Teachers and Students</em></a></p>
        </div>
      </div>
      <div class="aorHomeThem aorHomeTheme3" id="thm3">
        <div class="aorHomeTheme1"><h3>Glosses and Diagrams</h3>
          <p>Annotations guided a reader through texts, helping them understand and memorise works and concepts.</p>
          <p><a href="theme3.html"><em>Go to Glosses and Diagrams</em></a></p>
        </div>
      </div>
      <div class="aorHomeThem aorHomeTheme3" id="thm4">
        <div class="aorHomeTheme1"><h3>Debate and Controversy</h3>
          <p> Arguing was a crucial skill taught in the schools and used both in the classroom and in the world beyond.</p>
          <p><a href="theme4.html"><em>Go to Debates and Controversies</em></a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="aoSite">
  <div class="aorHomeManuscripts aoWrapper">
    <div class="aorHomeManuscriptsIntro">
      <h2>Explore the manuscripts</h2>
      <p>In manuscripts we can see the traces of teachers, students, and readers: they left their markings, thoughts, schemes and drawings in them for us to explore. Read more about this here, where we explain how portraits of manuscripts allow us to look over the shoulder of medieval writers and readers.</p>
      <a href="manuscripts.html">Introduction</a>
    </div>
    <div class="aorHomeManuscriptsFeaturedList aorManuscriptCrdList">

        {{#each manuscriptsList}}

            {{>manuscriptCardShort}}

        {{/each}}



    </div>
    <!-- <div class="aorHomeManuscriptsAllLink">
      <a href="manuscripts.html">See all the manuscripts</a>
    </div> -->
</div>

<div class="aorModalFade" id="video">
    <div class="aorModalPop">
      <span class="closeModal closeButton" onclick="javascript:closeModal('video');"><img src="images/icons/close.png" alt=""></span>
      <div class="aorModalContent">
      <div id="aorPlayer" style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/458930971?color=ffc12f&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
    </div>
  </div>

{{> page-foot}}
{{> html-foot}}
