<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1</title>
   <link rel="stylesheet" href="css/style.css">
    <style media="screen">
      body {
        margin:0;
        padding:0;
      }

      svg {
        height:100vh;
        width:100vw;
        background-color:rgb(246, 234, 244);
      }

      svg image {
        height:100vh;
        width: auto;
        opacity:1;
      }

      #info {
        position: absolute;
        top:10px;
        right:10px;
        width:200px;
        height:200px;
        padding:1rem;
        background-color:#fff;
      }
    </style>
  </head>
  <body>
    <svg onclick="clicked(evt)" id="svg">
      <mask id="m1">
        <rect x="0" y="0" width="100%" height="100%" style="fill:#fff;"/>

      </mask>
      <defs id="defs">


      </defs>
      <image href="images/manuscripts/UB_VLF_48_f30_v.jpg"  id="imgg"></image>
      <g id="imgGr">
        <rect x="0" y="0" width="100%" height="100%" style="fill:rgba(1, 1, 1, 0.5);" mask="url(#m1)"/>
      </g>
    </svg>
    <div id="info"></div>
    <script>
      function clicked(evt){
        // image dimensions
        var element = document.getElementById('imgg');
        var positionInfo = element.getBoundingClientRect();
        var height = positionInfo.height;
        var width = positionInfo.width;

        // position
        var e = evt.target;
        var dim = e.getBoundingClientRect();
        var x = evt.clientX - dim.left;
        var y = evt.clientY - dim.top;

        var widthPercent  = (x/width)*100;
        var heightPercent = (y/height)*100;



        // display
        document.getElementById('info').innerHTML = "x: "+x+"<br> y:"+y +"<br><br>width: "+width+"<br> height:"+height+"<br><br>% "+widthPercent+", "+heightPercent;

      }

      //create highlightSquar
      function highlightSquar(p1aX,p1aY,p1bX,p1bY) { //p2a,p2b
        var w = p1bX-p1aX;
        var h = p1bY-p1aY;
        var style1 = ' class="aorHighLightStroke" />';

        var rect = '<rect x="'+p1aX+'%" y="'+p1aY+'%" width="'+w+'%" height="'+h+'%" ';


        document.getElementById('imgGr').innerHTML +=rect+style1;

        style1 = ' class="maskFill" />';
        document.getElementById('m1').innerHTML +=rect+style1;

      }

      function plotLine(paX,paY,pbX,pbY) {

        var line = '<line x1="'+paX+'%" y1="'+paY+'%" x2="'+pbX+'%" y2="'+pbY+'%" class="aorHighLightStroke" />';
        document.getElementById('imgGr').innerHTML +=line;

      }


      function connectSquares(p1aX,p1aY,p1bX,p1bY,p2aX,p2aY,p2bX,p2bY) {

        highlightSquar(p1aX,p1aY,p1bX,p1bY);
        highlightSquar(p2aX,p2aY,p2bX,p2bY);

        var paX,paY,pbX,pbY;
        paX = p1bX;
        paY = p1aY+ ((p1bY - p1aY)/2);
        pbX = p2aX;
        pbY = p2aY+ ((p2bY - p2aY)/2);



        plotLine(paX,paY,pbX,pbY)

      }




      connectSquares(60.941,50.816,63.798,53.121,81.264,51.113, 83.678,53.617);





      </script>

  </body>
</html>
