<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1</title>
   <link rel="stylesheet" href="css/style.css">
    <style media="screen">
      body {
        margin:0;
        padding:0;
      }

      #svg {
        height:100vh;
        width:100vw;
        background-color:rgb(246, 234, 244);
      }

      #imgg {
        height:100vh;
        width: auto;
        opacity:1;
      }

      #outSvg {
        height:400px;
        width:700px;;
        background-color:rgb(240, 246, 234);
        border: 1px solid rgb(14, 58, 77);

      }

      #info {
        position: absolute;
        top:10px;
        right:10px;
        width:200px;
        height:200px;
        padding:1rem;
        background-color:#fff;
      }
    </style>
  </head>
  <body>
    <svg onclick="clicked(evt)" id="svg">
      <mask id="m1">
        <rect x="0" y="0" width="100%" height="100%" style="fill:#fff;" class="setSpan" />

      </mask>
      <defs id="defs">


      </defs>
      <image href="images/manuscripts/UB_VLF_48_f30_v.jpg"  id="imgBig"></image>
      <image href="images/manuscripts/UB_VLF_48_f30_v.jpg"  id="imgg"></image>
      <g id="imgGr">
        <rect x="0" y="0" width="100%" height="100%" style="fill:rgba(1, 1, 1, 0.3);" mask="url(#m1)" class="setSpan" />
      </g>
    </svg>


    <svg id="outSvg" preserveAspectRatio="xMinYMin meet" class="aorCompManuscript">
      <image href="images/manuscripts/UB_VLF_48_f30_v.jpg"  id="imgg2" x="0" y="0"></image>
    </svg>


    <div id="info">
      <textarea name="coords" cols="20" rows="1" id="coords"></textarea>
      <button type="button" name="button" onclick="getSvg();">get svg</button>
    </div>












    <script>
    document.onreadystatechange = () => {
    if (document.readyState === 'complete') {

      connectSquares([60.941,50.816],[63.798,53.121],[81.264,51.113], [83.678,53.617]); connectSquares([64.828, 53.618],[67.241, 55.380],[82.759, 57.421], [85.977, 59.369]); connectSquares([58.966, 56.215],[61.609, 58.256],[83.218, 63.265], [85.977, 65.492]); connectSquares([79.770, 68.089],[81.839, 70.315],[86.207, 71.707], [88.506, 74.583]);






      //create highlightSquar
      function highlightSquar(p1a,p1b) {

        var p1a = convertPercent2px(p1a[0], p1a[1]);
        var p1b = convertPercent2px(p1b[0], p1b[1]);
//console.log(p1a,p1b);

        var w = p1b[0]-p1a[0];
        var h = p1b[1]-p1a[1];
        var style1 = ' class="aorHighLightStroke" />';

        var rect = '<rect x="'+p1a[0]+'" y="'+p1a[1]+'" width="'+w+'" height="'+h+'" ';

//console.log(rect+style1);
        document.getElementById('imgGr').innerHTML +=rect+style1;

        style1 = ' class="maskFill" />';
        document.getElementById('m1').innerHTML +=rect+style1;

      }

      function plotLine(pa,pb) {
        var paX = convertPercent2px(pa[0], pa[1])[0];
        var paY = convertPercent2px(pa[0], pa[1])[1];
        var pbX = convertPercent2px(pb[0], pb[1])[0];
        var pbY = convertPercent2px(pb[0], pb[1])[1];

        var line = '<line x1="'+paX+'" y1="'+paY+'" x2="'+pbX+'" y2="'+pbY+'" class="aorHighLightStroke" />';
        document.getElementById('imgGr').innerHTML +=line;

      }


      function connectSquares(p1a,p1b,p2a,p2b) {
        highlightSquar(p1a,p1b);
        highlightSquar(p2a,p2b);

        var paX,paY,pbX,pbY;
        paX = p1b[0];
        paY = p1a[1]+ ((p1b[1] - p1a[1])/2);
        pbX = p2a[0];
        pbY = p2a[1]+ ((p2b[1] - p2a[1])/2);



        plotLine([paX,paY],[pbX,pbY])

      }


      function convertPercent2px(x,y) {
        var out;
        var size = getImageDimension('imgBig');

        var x2 = (x/100)*size.w;
        var y2 = (y/100)*size.h;

        out = [x2,y2];


        return out;
      }

      function handleViewport() {
        var size = getImageDimension('imgBig');
        document.getElementById('outSvg').setAttribute('viewBox', '0 0 '+size.w+' '+size.h);
      }
      handleViewport();







    }
};

function setSpan() {
  var size = getImageDimension('imgBig');
   // setSpan
   var allElem = document.querySelectorAll('.setSpan');
   for (var i = 0; i < allElem.length; i++) {
     allElem[i].setAttribute('width', size.w);
     allElem[i].setAttribute('height', size.h);
   }
}


function generateNewSvg() {
var mask = document.getElementById('m1').outerHTML;
var group = document.getElementById('imgGr').outerHTML;

  document.getElementById('outSvg').innerHTML += mask+group;
}


function getSvg() {
  setSpan();
  generateNewSvg();
  var outer = String(document.getElementById('outSvg').outerHTML);
  console.log(removeBreaks(outer));


  document.getElementById('coords').innerHTML = removeBreaks(outer);
  copyText();

}


function removeBreaks(someText) {
  someText2 = someText.replace(/[\r\n]+/g, '');
  return someText2;
}


function clicked(evt){


  // position
  var e = evt.target;
  var dim = e.getBoundingClientRect();
  var x = evt.clientX - dim.left;
  var y = evt.clientY - dim.top;
  var size = getImageDimension('imgg');

  var widthPercent  = (x/size.w)*100;
  var heightPercent = (y/size.h)*100;





  // display
  //document.getElementById('info').innerHTML = "x: "+x+"<br> y:"+y +"<br><br>width: "+size.w+"<br> height:"+size.h+"<br><br>% "+widthPercent.toFixed(3)+", "+heightPercent.toFixed(3);
    document.getElementById('coords').innerHTML = '['+widthPercent.toFixed(3)+", "+heightPercent.toFixed(3)+']';
    copyText();
}



function getImageDimension(elemId) {
  var element = document.getElementById(elemId);
  var positionInfo = element.getBoundingClientRect();
  var height = positionInfo.height;
  var width = positionInfo.width;
  console.log('w'+width);

  return {"h":height, "w":width};
}


function copyText() {
  /* Get the text field */
  var copyText = document.getElementById("coords");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");


}


      </script>

  </body>
</html>
