{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  <div class="aoWrapper aoRContent">

    <div class="aoRow aoRowIntro">
      <div class="aoCol1Span">
        <div class="aoIntroTitle">
          <h1>{{title}}</h1>
        </div>
        <div class="aoIntroTextCols">
      {{> (lookup . 'docx_file') }}</div>
  </div>

  <div class="">
  {{> timeline}}
  </div>

  <div class="" style="padding-bottom: 3rem;">
  {{> map}}
  </div>

  <div class="aorManuscriptCrdList aoRow">
      {{#each manuscriptsList}}
          {{>manuscriptCard}}
      {{/each}}
  </div>
{{!-- comment
  <div class="aoRow aorBege">
    {{>comp-map}}
  </div>--}}
</div>






{{> page-foot}}
{{> html-foot}}
