<figure>


	<svg id="vlf48_30_v" class="aorCompManuscript" preserveAspectRatio="xMinYMin meet" viewBox="0 0 {{width}} {{height}}">
		<image href="images/manuscripts/{{foliofilename}}" />
		{{#each folioParts}}
			{{{svggroup}}}
		{{/each}}
	</svg>


	<div class="aorFolios">
		{{#each folioParts}}
			<div class="aorFolioSections hcTabLabel" id="tab-list-{{fpid}}">{{fpname}}</div>
		{{/each}}
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		{{foliodescription}}<br>
		<strong>About the manuscript</strong><br>
		{{manuscriptData.location}} {{manuscriptData.shelfmark}}<br>
		<a href="{{manuscriptData.filename}}">More about the manuscript {{manuscriptData.shelfmark}}</a><br>
		<a href="{{foliosource}}" target="_blank">Source</a>
		</span>
	</figcaption>

	{{#each folioParts}}
		<figcaption id="tab-content-{{fpid}}" class="hcTabContent">{{fpdescription}}</figcaption>
	{{/each}}
</figure>
