{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  <div class="aoWrapper aoRContent">
    <div class="aoRow aoRowIntro msHide">
      <div class="aoCol1Span msAfter">
        <div class="aoIntroTitle"><h1>{{title}}</h1></div>
        <div class="aoIntroTextCols">{{> (lookup . 'docx_file') }}</div></div>
      </div>
    </div>
    <a id="rm1" href="#" onClick="showReadMore(); return false;">Read more...</a>


      <div class="">
      {{> timeline}}
      </div>

      <div class="" style="padding-bottom: 3rem;">
      {{> map}}
      </div>

      <div class="aorManuscriptCrdList aoRow">
          {{#each manuscriptsList}}
              {{>manuscriptCard}}
          {{/each}}
      </div>
</div>






{{> page-foot}}
{{> html-foot}}
