{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  <div class="aoWrapper aoRContent">
    <div class="aoRow aoRowIntro">
      <div class="aoCol1Span">
        <div class="aoIntroTitle"><h1>{{shelfmark}}</h1></div>
        <div class="aoIntroTextCols">{{> (lookup . 'docx_file') }}</div>
      </div>
    </div>
  </div>
</div>

<div class="aoSite">
  <div class="aoWrapper aoRContent">
    <div class="aoRow">±meta±</div>
  </div>
</div>

<div class="aoSite">
  <div class="aoWrapper aoRContent">
    <div class="aoRow">
      <div class="aoCol1"> </div>
      <div class="aoCol2Span aorNextRead aorBlue" ><a href="manuscripts.html"><img src="images/aorPointer.png" alt="next read"><h3>Back to manuscript portraits</h3></a></div>
    </div>
  </div>
</div>





<script type="text/javascript">
  document.getElementById("spotTL").innerHTML = document.getElementById("tlHide").innerHTML;
  document.getElementById("spotMp").innerHTML = document.getElementById("mpHide").innerHTML;
</script>

{{> page-foot}}
{{> html-foot}}
