{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  <div class="aoWrapper aoRContent">
    <div class="aoRow aoRowIntro msHide">
      <div class="aoCol1Span msAfter">
        <div class="aoIntroTitle">
          <h1>{{title}}</h1>
        </div>
        <a id="rm1" href="#" onClick="showReadMore(); return false;">Introduction to the manuscript portraits.</a>
        <div id="rmb1" class="aoIntroTextCols">{{> (lookup . 'docx_file') }}</div>
      </div>
    </div>



    <div class="" id="rmb2">
      {{> timeline}}
    </div>

    <div id="rmb3" class="" style="padding-bottom: 3rem;">
      {{> map}}
    </div>

    <div class="aorManuscriptCrdList aoRow">
      {{#each manuscriptsList}}
        {{>manuscriptCard}}
      {{/each}}
    </div>
  </div>






  {{> page-foot}}
  {{> html-foot}}
