{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  {{!-- content --}}



  <div class="aoWrapper aoRContent">

    <div class="aoRow aoRowIntro">
      <div class="aoCol1Span">
        <div class="aoIntroTitle">
          <h1>{{title}}</h1>
        </div>
        <div class="aoIntroTextCols">
      {{> (lookup . 'docx_file') }}</div></div>
  </div>
</div>



<div class="aoSite">
  <div class="aoWrapper aoRContent">
    <div class="aoRow">
      <div class="aoCol1"> </div>
      <div class="aoCol2Span aorNextRead aorBlue" ><a href="{{nextHref}}.html">
        <img src="images/aorPointer.png" alt="next read">
        Next Read:
        <h3>{{nextTitle}}</h3>
      </a>
    </div>
    </div>
  </div>
</div>


<div class="aorImgFS" id="aorImgFS">
  <div class="aorImgFShead"><span class=" closeButton"><img src="images/icons/close.png" onclick="closeViewfc();" alt=""></span></div>
  <div id="aorImgFScontent"></div>
</div>


{{> page-foot}}
{{> html-foot}}
