{{> html-head}}

<div class="aoSite">
  {{!-- header --}}
  <div class="aoWrapper aorHeader">
    <div class="aorHeaderLogo">
      <img src="images/logo_aor-1@2x.png" alt="logo Art of Reasoning"><img src="images/logo_aor-2@2x.png" alt="logo Art of Reasoning">
    </div>
    <div class="aoTopnav">
      <nav class="aoNavMainContent">
        <a href="#">Home</a>
        <a href="#">±±±t1±±±</a>
        <a href="#">±±±t2±±±</a>
        <a href="#">±±±t3±±±</a>
        <a href="#">Manuscripts</a>
      </nav>
      <nav class="aoNavAbout">
        <a href="#">About this site</a>
      </nav>
    </div>
  </div>

  {{!-- content --}}


  <div class="aoWrapper aoRContent">

    <div class="aoRow aoRowIntro">
      <div class="aoCol1Span">
        <div class="aoIntroTitle">
          <h1>{{title}}</h1>
        </div>
        <div class="aoIntroTextCols">
      {{> (lookup . 'docx_file') }}</div></div>
  </div>

</div>






{{!-- comment



    {{> page-header}}
    {{> nav-main}}
    {{> (lookup . 'navigation_file') }}
    <h1>{{title}}</h1>
    {{> (lookup . 'docx_file') }}


 --}}



{{> html-foot}}
