{{> html-head}}

<div class="aoSite">
  {{> page-header}}

  {{!-- content --}}


  <div class="aoWrapper aoRContent">

    <div class="aoRow aoRowIntro">
      <div class="aoCol1Span">
        <div class="aoIntroTitle">
          <h1>{{title}}</h1>
        </div>
        <div class="aoIntroTextCols">
      {{> (lookup . 'docx_file') }}</div></div>
  </div>

</div>






{{!-- comment



    {{> page-header}}
    {{> nav-main}}
    {{> (lookup . 'navigation_file') }}
    <h1>{{title}}</h1>
    {{> (lookup . 'docx_file') }}


 --}}



{{> html-foot}}
