@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,300&family=Playfair+Display:wght@700&display=swap");
body {
  background-color: #242424;
  color: #DFD2BE; }

a {
  color: #8CCFFF;
  text-decoration: none; }

.aoSite {
  display: flex;
  flex-direction: column;
  align-items: center; }

.aoWrapper {
  max-width: 1300px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }

.aoRContent {
  margin-top: 3rem; }

.aoRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem; }

.aoRowIntro > * {
  justify-content: flex-end;
  display: flex;
  flex-direction: column; }

.aoRowIntro .aoCol1 {
  display: flex;
  flex-direction: column;
  margin-right: 2rem; }

.aoRowIntro .aoIntroTextCols {
  display: flex;
  flex-direction: column; }

@media (min-width: 1000px) {
  .aoRow {
    flex-direction: row; }
    .aoRow > * {
      margin-right: 5rem; }
  .aoRowIntro .aoIntroTextCols {
    flex-direction: row; } }

.aoCol1 .aorIllu, .aoCol2 .aorIllu, .aoCol1Span .aorIllu, .aoCol2Span .aorIllu {
  margin: 0;
  padding: 0; }
  .aoCol1 .aorIllu figcaption, .aoCol2 .aorIllu figcaption, .aoCol1Span .aorIllu figcaption, .aoCol2Span .aorIllu figcaption {
    margin-bottom: calc(0 - 100px);
    height: 100px; }

.aoCol1 img, .aoCol2 img, .aoCol1Span img, .aoCol2Span img {
  width: 100%;
  height: auto; }

@media (min-width: 1000px) {
  .aorIllu {
    width: 100%; }
  .aoCol1Span .aorIllu, .aoCol2Span .aorIllu {
    width: 100%; } }

.aoCol1 {
  flex: 1; }

.aoCol1Span, .aoCol2Span {
  flex: 2; }

.aoMetadata {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #403e3b;
  border-bottom: 1px solid #403e3b; }

.aorCompManuscript {
  background-color: #1a1a1a;
  display: inline-block;
  padding: 1rem;
  font-size: .85rem;
  width: 100%; }
  .aorCompManuscript .aorImgWindow {
    cursor: zoom-in; }
    .aorCompManuscript .aorImgWindow .hcTabContent {
      justify-content: center;
      margin: -1rem -1rem 1rem -1rem;
      position: relative;
      width: calc(100% + 2rem);
      height: 400px;
      overflow: hidden; }
      .aorCompManuscript .aorImgWindow .hcTabContent img {
        height: 100%;
        width: auto;
        position: absolute;
        z-index: 00; }
    .aorCompManuscript .aorImgWindow .zoomOverlay {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1000; }
      .aorCompManuscript .aorImgWindow .zoomOverlay img {
        display: block;
        width: auto;
        height: auto; }
    .aorCompManuscript .aorImgWindow .zoomOverlay:hover {
      opacity: 1; }
  .aorCompManuscript figcaption {
    padding-left: 0rem; }

.aoRowIntro .aorCompManuscript {
  margin-bottom: 2rem; }

.aorFilioInfo {
  display: flex;
  flex-direction: row; }

.aorFolioToggles {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  flex: 3; }

.aorFoliosTab {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem; }

.aorFoliosManuscript {
  flex: 1;
  border-left: 1px solid #403e3b;
  padding-left: 1rem; }

.aorHighLightStroke {
  stroke: #ffffff;
  stroke-width: 1.5px;
  fill: none;
  border-radius: 3px; }

.maskFill {
  fill: black;
  border-radius: 3px; }

.aorFolios {
  display: flex; }

.aorFolioSections {
  cursor: pointer;
  padding: .1rem 0;
  margin-right: 1rem;
  border-bottom: 2px solid #DFD2BE; }

.aorZoom {
  width: 100%;
  text-align: right;
  z-index: 100; }
  .aorZoom input {
    width: 30px;
    opacity: .5;
    height: auto;
    border: none;
    padding: .2rem .5rem; }

.aorImgFS {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  z-index: 500; }
  .aorImgFS .aorZoom {
    display: none; }

.aorImgFShead {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #5b5b5b;
  padding: 0 1rem; }

.aorImgFSwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; }
  .aorImgFSwrapper .aorImgFScontent {
    position: relative;
    margin-left: -49%; }
    .aorImgFSwrapper .aorImgFScontent img {
      margin-top: 0;
      height: 95vh;
      position: absolute; }

.aorManuscriptCrdList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .aorManuscriptCrdList > * {
    width: 100%; }

@media (min-width: 1000px) {
  .aorManuscriptCrdList {
    flex-direction: row; }
    .aorManuscriptCrdList > * {
      width: calc(33% - 1px);
      margin-right: 1px;
      margin-bottom: 1px; } }

.aorManuscriptCrd {
  background-color: #303030;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }

.aorManuscriptCrd:hover {
  background-color: #404040; }

.crdThumb img {
  width: 175px;
  height: auto; }

.crdName {
  font-weight: 700;
  color: #02F7E8; }

.crdText {
  font-size: .85rem;
  text-align: center; }

.aorPortraitsCrdList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .aorPortraitsCrdList > * {
    width: 100%; }
  .aorPortraitsCrdList .modalNote {
    width: auto; }

@media (min-width: 1000px) {
  .aorPortraitsCrdList {
    flex-direction: row; }
    .aorPortraitsCrdList > * {
      width: calc(33% - 1px);
      margin-right: 1px;
      margin-bottom: 1px; } }

.aorPortraitsCrd {
  background-color: #d5c4aa;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }

.aorPortraits:hover {
  background-color: #cdb898; }

.aorNote {
  display: inline-block;
  border: 1px solid #403e3b;
  width: 25px;
  height: 25px;
  font-size: .8rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -3px); }

.aorNote span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.aorNote a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8CCFFF;
  width: 100%;
  height: 100%;
  text-align: center; }

.noteBlock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #DFD2BE;
  color: #242424;
  font-size: .85rem;
  display: none; }
  .noteBlock a {
    color: #1888d8; }

.closeNote {
  float: right;
  cursor: pointer; }

.aorModalFade {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }

.aorModalPop {
  background-color: #DFD2BE;
  color: #242424;
  max-width: 700px;
  width: 100%;
  max-height: 80vh;
  padding: 2rem; }
  .aorModalPop h1, .aorModalPop h2, .aorModalPop h3 {
    color: #242424; }

.aorModalContent {
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  .aorModalContent img {
    width: 100%;
    height: auto; }

.closeModal {
  float: right; }

.closeButton {
  cursor: pointer; }
  .closeButton img {
    width: 1.5rem; }

.modalNote {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: .8rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -3px); }

.modalNote span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modalNote a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #8CCFFF;
  width: 100%;
  height: 100%;
  text-align: center; }

.aorHomeHero {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 75vh; }
  .aorHomeHero .aorHomeHeroLogo {
    text-align: center;
    max-width: 650px;
    margin-bottom: 1rem; }
    .aorHomeHero .aorHomeHeroLogo .logoLines1 {
      height: auto;
      width: 300px;
      max-width: 100%; }
    .aorHomeHero .aorHomeHeroLogo .logoLines2 {
      height: auto;
      width: 330px;
      max-width: 100%; }
    .aorHomeHero .aorHomeHeroLogo .logoIcon {
      height: 50px;
      width: auto;
      margin-top: 2rem; }

.aorMidwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #403e3b; }

.aorHomeSplit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: auto; }

.aorHomeTrailer {
  width: 240px; }
  .aorHomeTrailer img {
    width: 200px;
    height: auto;
    margin-left: 2rem;
    border-radius: 5px; }

.aorPartners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  padding-top: 1rem; }
  .aorPartners > * {
    margin-right: 1rem;
    line-height: 100%; }
  .aorPartners img {
    height: 50px;
    width: auto;
    opacity: .7; }

@media (min-width: 500px) {
  .aorHomeHero {
    min-height: 75vh; }
    .aorHomeHero .aorHomeHeroLogo .logoLines1, .aorHomeHero .aorHomeHeroText .logoLines1 {
      width: 400px; }
    .aorHomeHero .aorHomeHeroLogo .logoLines2, .aorHomeHero .aorHomeHeroText .logoLines2 {
      width: 450px; }
    .aorHomeHero .aorHomeHeroLogo .logoIcon, .aorHomeHero .aorHomeHeroText .logoIcon {
      height: 50px; }
  .aorHomeSplit {
    display: flex;
    flex-direction: row; } }

@media (min-width: 1300px) {
  .aorHomeHero .aorHomeHeroLogo .logoLines1, .aorHomeHero .aorHomeHeroText .logoLines1 {
    width: 557px; }
  .aorHomeHero .aorHomeHeroLogo .logoLines2, .aorHomeHero .aorHomeHeroText .logoLines2 {
    width: 623px; }
  .aorHomeHero .aorHomeHeroLogo .logoIcon, .aorHomeHero .aorHomeHeroText .logoIcon {
    height: 80px; } }

.aorHomeHero .aoTopnav {
  width: 100%; }

.aorHomeThemes {
  padding: 6rem 2rem; }

.aorHomeOpenManuscript {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .aorHomeOpenManuscript svg {
    width: 100%;
    max-width: 800px;
    height: auto;
    transform: rotate(5deg); }
  .aorHomeOpenManuscript svg:hover {
    cursor: pointer; }

.aorHomeThemesIntro {
  text-align: center;
  padding: 2rem 0; }

.aorHome3Themes {
  display: flex;
  flex-direction: column; }
  .aorHome3Themes h3 {
    border-bottom: 2px solid #02F7E8;
    padding-bottom: .5rem;
    margin-bottom: 0rem; }
  .aorHome3Themes > * {
    width: 100%; }

.aorThemeHighlight h3 {
  border-bottom: 2px solid #242424; }

@media (min-width: 1000px) {
  .aorHome3Themes {
    flex-direction: row; }
    .aorHome3Themes > * {
      width: calc(33% - 2rem);
      margin-right: 2rem; } }

.aorHomeManuscripts {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.aorHomeManuscriptsIntro {
  text-align: center;
  padding: 2rem 0;
  max-width: 700px; }

.aorHomeManuscriptsFeaturedList {
  display: flex;
  flex-direction: column; }
  .aorHomeManuscriptsFeaturedList > * {
    width: 100%; }

@media (min-width: 1000px) {
  .aorHomeManuscriptsFeaturedList {
    flex-direction: row; }
    .aorHomeManuscriptsFeaturedList > * {
      width: calc(33% - 1px);
      margin-right: 1px; } }

.aorHomeManuscriptsAllLink {
  background-color: #02F7E8;
  padding: 3rem 2rem;
  color: #242424;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .aorHomeManuscriptsAllLink a {
    color: #242424; }

.aorMap {
  display: flex;
  flex-direction: column;
  background-color: #DFD2BE;
  color: #242424; }

.aorDivList {
  font-size: .8rem;
  line-height: 145%;
  padding: 1rem;
  margin-bottom: 2rem; }
  .aorDivList > * {
    cursor: pointer;
    margin-bottom: .5rem; }

@media (min-width: 1000px) {
  .aorMap {
    display: flex;
    flex-direction: row; } }

.aorLegend {
  display: block;
  background-color: #DFD2BE;
  color: #242424;
  padding: .4rem;
  font-size: .85rem; }
  .aorLegend span {
    margin-left: 1rem; }
  .aorLegend img {
    width: 15px;
    height: auto; }

html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-style: normal; }

.aorHeader {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid #403e3b; }

.aorHeaderLogo img {
  width: auto;
  height: 32px;
  max-width: calc(100vw - 4rem); }

.aoTopnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .85rem; }
  .aoTopnav a {
    color: #DFD2BE;
    margin-right: 1rem;
    padding-bottom: .5rem; }

.aorCurrPage {
  font-weight: 700;
  border-bottom: 2px solid #DFD2BE; }

@media (min-width: 1000px) {
  .aorHeader {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4rem; }
  .aorHeaderLogo img {
    height: 36px; }
  .aoTopnav {
    flex-direction: row;
    font-size: 1rem; } }

figure {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }
  figure figcaption {
    font-size: .85rem;
    line-height: 130%;
    color: #85817a;
    padding-left: .5rem; }

.tempContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tempContainer2 {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row; }

.tempNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  padding: 2rem; }
  .tempNav nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .tempNav nav .l2 {
      margin-left: 1rem; }

#home {
  background-color: #e7e8de;
  width: 100vw;
  height: auto; }

#th1, #th2, #th3 {
  display: none; }

.tempContent {
  max-width: 650px;
  width: 100%;
  padding: 0 2rem; }
  .tempContent img {
    width: 300px;
    height: auto; }
  .tempContent figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; }
    .tempContent figure figcaption {
      font-size: .9rem;
      color: #818181;
      margin-left: 1rem; }

.tempTitle {
  background-color: #f1e9f0;
  padding: 1rem 1rem;
  margin: 0 -1rem; }

.timeline {
  background-color: #edebde;
  width: 100vw;
  height: calc(100vh - 6rem);
  min-width: 500px; }

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #02F7E8;
  font-weight: 700; }

h1 {
  font-size: 2rem;
  line-height: 1.7rem; }

h2 {
  font-size: 1.6rem;
  margin-bottom: .3rem; }

h3 {
  font-size: 1.1rem;
  margin-bottom: 0; }

h4 {
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: 0; }

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem; }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem; }
  h3 {
    font-size: 1.5rem; } }

.aorBlue {
  background-color: #02F7E8;
  color: #242424; }
  .aorBlue h1, .aorBlue h2, .aorBlue h3 {
    color: #242424; }
  .aorBlue a {
    color: #242424; }

.aorBege {
  background-color: #DFD2BE;
  color: #242424; }
  .aorBege h1, .aorBege h2, .aorBege h3 {
    color: #242424; }
  .aorBege a {
    color: #242424; }

.aorWide {
  width: 100vw; }

.themeItemSummary {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cdb898;
  display: block;
  cursor: pointer; }
  .themeItemSummary a {
    text-decoration: underline; }

.timeline {
  font-size: 10px; }

.aorNextRead {
  padding: 3rem 2rem; }
  .aorNextRead img {
    width: 100px;
    height: auto;
    float: right; }

.notes {
  display: none; }

.aorTimeline {
  width: 100%;
  height: auto;
  overflow-x: auto; }

.hideSvg {
  display: none; }

.msHide .aoRow {
  display: none; }

#rm1 {
  transform: translate(0px, -200px);
  display: block; }
