.aoSite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aoWrapper {
  max-width: 1300px;
  width: 100%;
  padding-left: #{$marginDouble};
  padding-right: #{$marginDouble};
}

.aoRContent {
  margin-top: 3rem;
}


.aoRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}


.aoRowIntro {

  >*{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }


  .aoCol1{
    display: flex;
    flex-direction: column;
    margin-right: #{$margin};
  }

  .aoIntroTitle {
  }

  .aoIntroTextCols {
    display: flex;
    flex-direction: column;
  }

}


@media (min-width: 1000px) {
  .aoWrapper {
    padding-left: #{$margin};
    padding-right: #{$margin};
  }


  .aoRow {
    flex-direction: row;
    >*{
      margin-right: 3rem;
    }
  }

  .aoRowIntro .aoIntroTextCols {
      flex-direction: row;
    }
}





$captionBoxWidth: 100px;

.aoCol1, .aoCol2, .aoCol3 {
  flex: 1;

  figure {
    margin: 0;
    padding: 0;

    figcaption {
      margin-bottom: calc(0 - #{$captionBoxWidth});
      height: $captionBoxWidth;
      display: none;
    }
  }

    img {
      width: 350px;
      height: auto;
    }
}


@media (min-width: 1000px) {
  .aoCol1 img {
    width: 100%;
    height: auto;
  }

}



.aoCol1Span, .aoCol2Span {
  flex: 2;

}

.aorCompManuscript {
  // width: 100%;
  // height: auto;
}
