$margin: 1rem;
$canvasColor: hsl(49, 33%, 97%);
$canvasColorDark: hsl(49, 33%, 87%);

.aorWrapper{
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: $canvasColor;
}

.aorNavigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: $canvasColorDark;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  nav {
    flex-direction: column;
    display: flex;

    .l2{
      margin-left: 1rem;
    }

  }
}

@media (min-width: 600px) {
  .aorNavigation {
    width: 30vw;
  }
}



.aorContent {
  max-width: 650px;
  padding: 4rem #{$margin} 0 #{$margin};

  img {
    width: 200px;
    height: auto;
  }

  figure{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    figcaption {
      font-size: .9rem;
      color: rgb(129, 129, 129);
      margin-left: 1rem;
    }
  }
}

.aorTitle {
  padding: .5rem 1rem;
  background-color: $canvasColorDark;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .aorTitle {
    flex-direction: row;
  }
}


.aorNextPage {
  margin-bottom: 5rem;
}


.stickyFoot {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: .5rem 1rem;
	background-color: $canvasColorDark;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.stickyFoot > *{
	margin-right: 2rem;
}

.f-name {
  display: none;
}


.aorMap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(97, 247, 249);
}

.aorTimeline {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(241, 214, 175);
}
