$margin: 1rem;

.aorWrapper{
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aorNavigation {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c9e2c2;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  nav {
    flex-direction: column;
    display: flex;

    .l2{
      margin-left: 1rem;
    }

  }
}


.aorContent {
  max-width: 600px;
  padding: 4rem #{$margin} 0 #{$margin};

  img {
    width: 200px;
    height: auto;
  }

  figure{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    figcaption {
      font-size: .9rem;
      color: rgb(129, 129, 129);
      margin-left: 1rem;
    }
  }
}

.aorTitle {
  padding: .5rem 1rem;
  background-color: rgb(225, 247, 228);

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .8rem;
}



.stickyFoot {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: .5rem 1rem;
	background-color: rgb(225, 247, 228);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.stickyFoot > *{
	margin-right: 2rem;
}

.f-name {
  display: none;
}


//
// .basicWrapper {
//   width: 100vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
//
// .basicSiteMax {
//   width: 100%;
//   max-width: 1200px;
// }
//
// .chapterTxtWrap {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
//
// .chapterTxt {
//   width: 100%;
//   max-width: $textColWIdth;
//   display:block;
// }
//
// .chapterTxt h2{
//   margin-top: 4rem;
// }
//
// .chapterNav {
//   display: none;
// }
//
// nav {
//   display: flex;
//   flex-direction: column;
// }
//
// @media (min-width: 1000px) {
//   .chapterTxtWrap {
//     width: $txtWith;
//     margin-left: 33vw;
//   }
//
//   .chapterTxtWrap .bijschrift {
//     display: none;
//   }
//
//   .chapterNav {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     top: 66vh;
//     padding: 7rem 1.5rem;
//     left: 0;
//     width: $sideBarWith;
//     //background-color: $colorGreyLightBg;
//     background-image: linear-gradient(to bottom, #{$colorGreyLightBg} 90%, rgba(240, 240, 242, 0));
//     color: $colorNMGNBlue2;
//   }
//   .chapterNav div {
//     width: 350px;
//   }
//
//   .chapterNav a {
//     color: $colorNMGNBlue1;
//   }
//
// }
//
// #subNavigation {
//   position: relative;
//   z-index: 500;
// }
