.aoSite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aoWrapper {
  max-width: 1300px;
  width: 100%;
  padding-left: #{$margin};
  padding-right: #{$margin};
}

.aoRContent {
  margin-top: 3rem;
}


.aoRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}



.aoRowIntro {

  >*{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }


  .aoCol1{
    display: flex;
    flex-direction: column;
    margin-right: #{$margin};
  }

  .aoIntroTitle {
  }

  .aoIntroTextCols {
    display: flex;
    flex-direction: column;
  }

}


@media (min-width: 1000px) {
  // .aoWrapper {
  //   padding-left: #{$margin};
  //   padding-right: #{$margin};
  // }


  .aoRow {
    flex-direction: row;
    >*{
      margin-right: 5rem;
    }
  }

  .aoRowIntro .aoIntroTextCols {
      flex-direction: row;
    }
}





$captionBoxWidth: 100px;

.aoCol1, .aoCol2, .aoCol1Span, .aoCol2Span {

  .aorIllu {
    margin: 0;
    padding: 0;

    figcaption {
      margin-bottom: calc(0 - #{$captionBoxWidth});
      height: $captionBoxWidth;
    }
  }

    img {
      width: 100%;
      height: auto;
    }
}


@media (min-width: 1000px) {
  .aorIllu {
      width: 100%;
      max-width: 355px;
  }
}

.aoCol1 {
  flex: 1;
}

.aoCol1Span, .aoCol2Span {
  flex: 2;

}

.aorCompManuscript {
  // width: 100%;
  // height: auto;
}

.aoMetadata {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #{$manuscriptBegeDark};
  border-bottom: 1px solid #{$manuscriptBegeDark};
}
