<svg width="1100" height="816" viewBox="0 0 1100 816">
  <image href="images/home-manuscript.png" width="1100" height="816"></image>
  <path class="svgTheme" fill="#000" opacity="0" id="svgT4" d="M553 414.5h436v297H565l-12-297z"/>
  <path fill="#000" opacity="0" class="svgTheme" id="svgT3" d="M551 42h440v366H550l1-366z"/>
  <path fill="#000" opacity="0" class="svgTheme" id="svgT2" d="M73.5 728.5v-293h461v293h-461z"/>
  <path fill="#000" opacity="0" class="svgTheme" id="svgT1" d="M77.5 28L522 36.5 537.5 56v368.5h-460V28z"/>
</svg>
