
<nav>
  <a href="/">Home</a>

  ±±±t1±±±



  ±±±t2±±±
        <a class="l2" href="Alcuin-dialogue.html">Alcuin and dialogue</a>
        <a class="l2" href="John-Scot-his-assistant.html">The school of Auxerre </a>
        <a class="l2" href="School-Auxerre.html">John the Scot and his assistant</a>
        <a class="l2" href="Gerard-DAbbeville.html">Abbeville</a>
        <a class="l2" href="Gerbert-Aurillac-AbboFleury.html">Gerbert of Aurillac-Abbo of Fleury</a>
        <a class="l2" href="Abelard.html">Abelard</a>
        <a class="l2" href="Ramon-Llull.html">Ramon Lull</a>



  ±±±t3±±±


  <a href="manuscripts.html">Manuscripts</a>

</nav>
