
<nav>
  <a href="/">Home</a>

  ±±±t1±±±



  ±±±t2±±±
        <a class="l2" href="Alcuin-dialogue.html">Alcuin and dialogue</a>
        <a class="l2" href="School-Auxerre.html">Heiric, Remigius and the School of Auxerre</a>
        <a class="l2" href="John-Scot-his-assistant.html">John Scottus</a>
        <a class="l2" href="Gerard-DAbbeville.html">Gerard d’Abbeville</a>
        <a class="l2" href="Gerbert-Aurillac-AbboFleury.html">Abbo of Fleury and Gerbert of Rheims</a>
        <a class="l2" href="Abelard.html">Abelard</a>
        <a class="l2" href="Ramon-Llull.html">Ramon Llull</a>



  ±±±t3±±±


  <a href="manuscripts.html">Manuscripts</a>

</nav>
