<div>
  </div>
  <div>
    <strong>Deel 1 <em><br>
    Opkomst van de rivier- en zeehandel</em></strong>
    <span>1100 - 1600</span><br>
  <a href="index.html">Maritieme cultuur| in de middeleeuwen</a>

  <a href="index.html">Inleiding</a>

  <a href="index.html">Binnenvaart</a>

  <a href="index.html">Koopvaardij</a>

  <a href="index.html">Visserij</a>

  <a href="index.html">Cultuurhistorisch katern</a>

  <a href="index.html">Maritieme cultuur| in de middeleeuwen</a>

  </div>
  <div>
    <strong>Deel 2 <em><br>
    De vaart in en buiten Europa</em></strong>
    <span>1700 - 1800</span><br>
  <a href="index.html">Inleiding</a>

  <a href="index.html">Koopvaardij binnen Europa</a>

  <a href="index.html">Koopvaardij buiten Europa</a>

  <a href="index.html">Marine</a>

  <a href="index.html">Visserij</a>

  <a href="index.html">Binnenvaart</a>

  <a href="index.html">Cultuurhistorisch katern</a>

  </div>
  <div>
    <strong>Deel 3 <em><br>
    Tijd van de grote zeilvaart</em></strong>
    <span>1780 tot circa 1870</span><br>
  <a href="index.html">Inleiding</a>

  <a href="index.html">Koopvaardij binnen Europa</a>

  <a href="index.html">Koopvaardij buiten Europa</a>

  <a href="index.html">Marine</a>

  <a href="index.html">Visserij</a>

  <a href="index.html">Binnenvaart</a>

  <a href="index.html">Cultuurhistorisch katern</a>

  </div>
  <div>
    <strong>Deel 4 <em><br>
    Mechanisering en schaalvergroting</em></strong>
    <span>circa 1870 tot begin 21e eeuw</span><br>
  <a href="index.html">Inleiding</a>

  <a href="index.html">Koopvaardij binnen Europa</a>

  <a href="index.html">Koopvaardij buiten Europa</a>

  <a href="index.html">Marine</a>

  <a href="index.html">Visserij</a>

  <a href="index.html">Binnenvaart</a>

  <a href="index.html">Cultuurhistorisch katern</a>

  <a href="index.html">Over de NMGN</a>

</div>
