{{!-- 
  {{>comp-map}}
--}}
{{>comp-timeline}}

<footer class="stickyFoot">
  <div class="f-name"><a href="/">The Art of Resoning in Medieval Manuscripts</a></div>
  <div class="f-menu"><a href="#" class="aorToggle" onclick="toggleVis(this.id); return false;" data-div="aorNavigation" id="toglMenu">Menu</a></div>
  <div class="f-timeline"><a href="#" class="aorToggle" onclick="toggleVis(this.id); return false;" data-div="aorTimeline" id="toglTimeline">Timeline</a></div>
  <div class="f-map"><a href="#" class="aorToggle" onclick="toggleVis(this.id); return false;" data-div="aorMap" id="toglMap">Map</a></div>
</footer>
