<figure class="aorCompManuscript" id="c_139f42r">
	<div id="img_139f42r" class="aorImgWindow">

		<div id="tab-content-3139f42r.jpg139f42r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3139f42r.jpg139f42r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("139f42r.jpg139f42r.jpg");
				//getMeta("ol_139f42r.jpg139f42r.jpg");

				zoomImg('139f42r.jpg139f42r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3139f42r.jpg139f42r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3139f42r.jpg139f42r.jpg')" />
		</div>

		<img id="139f42r.jpg139f42r.jpg" src="images/content/139f42r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_139f42r.jpg139f42r.jpg" src="images/content/139f42r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_139f42r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-139f42r.jpg139f42r.jpg">BPL139Bf42r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-139f42r.jpg139f42r.jpg" class="hcTabContent">Leiden, UB, BPL 139B, f. 42r (detail).</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2139f42r.jpg139f42r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
