<figure class="aorCompManuscript" id="c_bpl88_171_rb">
	<div id="img_bpl88_171_rb" class="aorImgWindow">

		<div id="tab-content-3114UB_BPL_88_171_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3114UB_BPL_88_171_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("114UB_BPL_88_171_r.jpg");
				//getMeta("ol_114UB_BPL_88_171_r.jpg");

				zoomImg('114UB_BPL_88_171_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3114UB_BPL_88_171_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3114UB_BPL_88_171_r.jpg')" />
		</div>

		<img id="114UB_BPL_88_171_r.jpg" src="images/manuscripts/UB_BPL_88_171_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_114UB_BPL_88_171_r.jpg" src="images/manuscripts/UB_BPL_88_171_r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl88_171_rb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-114UB_BPL_88_171_r.jpg">BPL88f171r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-114UB_BPL_88_171_r.jpg" class="hcTabContent">Leiden, UB, BPL 88, f. 171r. http://hdl.handle.net/1887.1/item:2028417</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2114UB_BPL_88_171_r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
