<figure class="aorCompManuscript" id="c_11127_63_r">
	<div id="img_11127_63_r" class="aorImgWindow">

		<div id="tab-content-311127f63r.jpg11127f63r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f63r.jpg11127f63r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f63r.jpg11127f63r.jpg");
				//getMeta("ol_11127f63r.jpg11127f63r.jpg");

				zoomImg('11127f63r.jpg11127f63r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f63r.jpg11127f63r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f63r.jpg11127f63r.jpg')" />
		</div>

		<img id="11127f63r.jpg11127f63r.jpg" src="images/content/11127f63r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f63r.jpg11127f63r.jpg" src="images/content/11127f63r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_63_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f63r.jpg11127f63r.jpg">lat11127f63r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f63r.jpg11127f63r.jpg" class="hcTabContent">Paris, BnF, lat. 11127, ff. 62v-63r<br><a target="_blank" href="https://gallica.bnf.fr/ark:/12148/btv1b90680770">https://gallica.bnf.fr/ark:/12148/btv1b90680770</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f63r.jpg11127f63r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
