<figure class="aorCompManuscript" id="c_bpl144edges">
	<div id="img_bpl144edges" class="aorImgWindow">

		<div id="tab-content-3144f20v.jpg144f20v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3144f20v.jpg144f20v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("144f20v.jpg144f20v.jpg");
				//getMeta("ol_144f20v.jpg144f20v.jpg");

				zoomImg('144f20v.jpg144f20v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3144f20v.jpg144f20v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3144f20v.jpg144f20v.jpg')" />
		</div>

		<img id="144f20v.jpg144f20v.jpg" src="images/content/144f20v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_144f20v.jpg144f20v.jpg" src="images/content/144f20v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3144f17r.jpg144f17r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3144f17r.jpg144f17r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("144f17r.jpg144f17r.jpg");
				//getMeta("ol_144f17r.jpg144f17r.jpg");

				zoomImg('144f17r.jpg144f17r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3144f17r.jpg144f17r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3144f17r.jpg144f17r.jpg')" />
		</div>

		<img id="144f17r.jpg144f17r.jpg" src="images/content/144f17r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_144f17r.jpg144f17r.jpg" src="images/content/144f17r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144edges">
					<div class="aorFolioSections hcTabLabel" id="tab-list-144f20v.jpg144f20v.jpg">BPL144f20v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-144f17r.jpg144f17r.jpg">BPL144f17r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-144f20v.jpg144f20v.jpg" class="hcTabContent">Leiden, UB, BPL 144, f. 20v (edge, photo MT)<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:2356986">http://hdl.handle.net/1887.1/item:2356986</a></figcaption>
					<figcaption id="tab-content-144f17r.jpg144f17r.jpg" class="hcTabContent">Leiden, UB, BPL 144, f. 17r (edge, photo MT)<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:2356986">http://hdl.handle.net/1887.1/item:2356986</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2144f20v.jpg144f20v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2144f17r.jpg144f17r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
