<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_84_f89_v.jpg" />
			
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-41">BPL 84 f.89v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-42">BPL 84 f.89v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-41" class="hcTabContent"></figcaption>
					<figcaption id="tab-content-42" class="hcTabContent">Fol 90r: INCIPIT ARS DIALECTICA ALCHOINI PHILOSOPHI. AD KAROLUM MAGNUM; “The Art of reasoning of Alcuin the Philosopher for Charlemagne begins.” Questions from Charlemagne are marked with K (Karolus), answers from Alcuin with A (Alcuin).</figcaption>
			</div>

		</div>




	</div>


</figure>
