<figure class="aorCompManuscript" id="c_103_6_v_6_v_fr">
	<div id="img_103_6_v_6_v_fr" class="aorImgWindow">

		<div id="tab-content-3103f6v.jpg103f6v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3103f6v.jpg103f6v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("103f6v.jpg103f6v.jpg");
				//getMeta("ol_103f6v.jpg103f6v.jpg");

				zoomImg('103f6v.jpg103f6v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3103f6v.jpg103f6v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3103f6v.jpg103f6v.jpg')" />
		</div>

		<img id="103f6v.jpg103f6v.jpg" src="images/content/103f6v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_103f6v.jpg103f6v.jpg" src="images/content/103f6v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3103f6vfr.jpg103f6vfr.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3103f6vfr.jpg103f6vfr.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("103f6vfr.jpg103f6vfr.jpg");
				//getMeta("ol_103f6vfr.jpg103f6vfr.jpg");

				zoomImg('103f6vfr.jpg103f6vfr.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3103f6vfr.jpg103f6vfr.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3103f6vfr.jpg103f6vfr.jpg')" />
		</div>

		<img id="103f6vfr.jpg103f6vfr.jpg" src="images/content/103f6vfr.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_103f6vfr.jpg103f6vfr.jpg" src="images/content/103f6vfr.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_103_6_v_6_v_fr">
					<div class="aorFolioSections hcTabLabel" id="tab-list-103f6v.jpg103f6v.jpg">VLQ103f4v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-103f6vfr.jpg103f6vfr.jpg">VLQ103f4v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-103f6v.jpg103f6v.jpg" class="hcTabContent">Leiden, UB, VLQ 103, f. 4v (photo MT)</figcaption>
					<figcaption id="tab-content-103f6vfr.jpg103f6vfr.jpg" class="hcTabContent">Leiden, UB, VLQ 103, f. 4v (detail; photo MT)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2103f6v.jpg103f6v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2103f6vfr.jpg103f6vfr.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
