<figure class="aorCompManuscript" id="c_housestyle">
	<div id="img_housestyle" class="aorImgWindow">

		<div id="tab-content-3style1.jpgstyle1.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3style1.jpgstyle1.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("style1.jpgstyle1.jpg");
				//getMeta("ol_style1.jpgstyle1.jpg");

				zoomImg('style1.jpgstyle1.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3style1.jpgstyle1.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3style1.jpgstyle1.jpg')" />
		</div>

		<img id="style1.jpgstyle1.jpg" src="images/content/style1.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_style1.jpgstyle1.jpg" src="images/content/style1.jpg"  />
		</div>

		</div>

		<div id="tab-content-3style2.jpgstyle2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3style2.jpgstyle2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("style2.jpgstyle2.jpg");
				//getMeta("ol_style2.jpgstyle2.jpg");

				zoomImg('style2.jpgstyle2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3style2.jpgstyle2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3style2.jpgstyle2.jpg')" />
		</div>

		<img id="style2.jpgstyle2.jpg" src="images/content/style2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_style2.jpgstyle2.jpg" src="images/content/style2.jpg"  />
		</div>

		</div>

		<div id="tab-content-3style3.jpgstyle3.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3style3.jpgstyle3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("style3.jpgstyle3.jpg");
				//getMeta("ol_style3.jpgstyle3.jpg");

				zoomImg('style3.jpgstyle3.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3style3.jpgstyle3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3style3.jpgstyle3.jpg')" />
		</div>

		<img id="style3.jpgstyle3.jpg" src="images/content/style3.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_style3.jpgstyle3.jpg" src="images/content/style3.jpg"  />
		</div>

		</div>

		<div id="tab-content-3style4.jpgstyle4.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3style4.jpgstyle4.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("style4.jpgstyle4.jpg");
				//getMeta("ol_style4.jpgstyle4.jpg");

				zoomImg('style4.jpgstyle4.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3style4.jpgstyle4.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3style4.jpgstyle4.jpg')" />
		</div>

		<img id="style4.jpgstyle4.jpg" src="images/content/style4.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_style4.jpgstyle4.jpg" src="images/content/style4.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_housestyle">
					<div class="aorFolioSections hcTabLabel" id="tab-list-style1.jpgstyle1.jpg">BPL139Bf9v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-style2.jpgstyle2.jpg">BPL139Bf9v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-style3.jpgstyle3.jpg">BPL139Bf7v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-style4.jpgstyle4.jpg">BPL139Bf7v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-style1.jpgstyle1.jpg" class="hcTabContent">Leiden, BPL 139B, f. 9v (detail): The cedilla on the ‘e’, indicating a ‘ae’ dipthong is formed at an angle, almost like a bended elbow. <br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1687093">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
					<figcaption id="tab-content-style2.jpgstyle2.jpg" class="hcTabContent">Leiden, BPL 139B, f. 9v (detail): The ligature linking the letters c and t is similarly angled and deliberately extended above the two letters.<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1687093">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
					<figcaption id="tab-content-style3.jpgstyle3.jpg" class="hcTabContent">Leiden, BPL 139B, f. 7v (detail): The tail of the ampersand (&) extends upwards to the right of the ligature.<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1687093">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
					<figcaption id="tab-content-style4.jpgstyle4.jpg" class="hcTabContent">Leiden, BPL 139B, f. 7v (detail): Two different forms of abbreviations for the short Latin word ‘est’ are found in the manuscript. The first, a horizontal stroke with a dot on either side, is a relatively common form. The second, a horizontal stroke followed by a dot, was frequently used in Fleury in the time of Abbo.<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1687093">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2style1.jpgstyle1.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2style2.jpgstyle2.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2style3.jpgstyle3.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2style4.jpgstyle4.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
