<figure class="aorCompManuscript" id="c_25f42r">
	<div id="img_25f42r" class="aorImgWindow">

		<div id="tab-content-325f42r.jpg25f42r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f42r.jpg25f42r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f42r.jpg25f42r.jpg");
				//getMeta("ol_25f42r.jpg25f42r.jpg");

				zoomImg('25f42r.jpg25f42r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f42r.jpg25f42r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f42r.jpg25f42r.jpg')" />
		</div>

		<img id="25f42r.jpg25f42r.jpg" src="images/content/25f42r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f42r.jpg25f42r.jpg" src="images/content/25f42r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_25f42r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f42r.jpg25f42r.jpg">BPL25f42r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-25f42r.jpg25f42r.jpg" class="hcTabContent">Leiden, UB, BPL 25, f.42r (detail)<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1617684">http://hdl.handle.net/1887.1/item:1617684</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-225f42r.jpg25f42r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
