<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_144_f37_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-50">BPL 144 f.37r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-50" class="hcTabContent">A hand, leg or arm (?) and face on fol. 37r </figcaption>
			</div>

		</div>




	</div>


</figure>
