<figure class="aorCompManuscript" id="7900Af84r">
	<div id="img_7900Af84r" class="aorImgWindow">

		<div id="tab-content-37900Af84r.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-37900Af84r.jpg', 1, 0);

				var el = document.getElementById('tab-content-37900Af84r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-37900Af84r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-37900Af84r.jpg')" />
		</div>



			<img src="images/content/7900Af84r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/7900Af84r.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_7900Af84r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-7900Af84r.jpg">Paris, BnF, lat. 7900A f.84r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-7900Af84r.jpg" class="hcTabContent">Paris, BnF, lat. 7900A: Inserted slips</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-27900Af84r.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
