<figure class="aorCompManuscript" id="c_bnf178_lat17806f4_v">
	<div id="img_bnf178_lat17806f4_v" class="aorImgWindow">

		<div id="tab-content-3BnF_lat_17806_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3BnF_lat_17806_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("BnF_lat_17806_f4_v.jpg");
				//getMeta("ol_BnF_lat_17806_f4_v.jpg");

				zoomImg('BnF_lat_17806_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3BnF_lat_17806_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3BnF_lat_17806_f4_v.jpg')" />
		</div>

		<img id="BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf178_lat17806f4_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-BnF_lat_17806_f4_v.jpg">lat17806f4</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-BnF_lat_17806_f4_v.jpg" class="hcTabContent">Paris, BnF, lat.17806, f. 4v.  <a target="_blank" href="https://gallica.bnf.fr/ark:/12148/btv1b525053525">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2BnF_lat_17806_f4_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
