<figure class="aorCompManuscript" id="c_vlf48_95_vb">
	<div id="img_vlf48_95_vb" class="aorImgWindow">

		<div id="tab-content-3104UB_VLF_48_f95_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3104UB_VLF_48_f95_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("104UB_VLF_48_f95_v.jpg");
				//getMeta("ol_104UB_VLF_48_f95_v.jpg");

				zoomImg('104UB_VLF_48_f95_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3104UB_VLF_48_f95_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3104UB_VLF_48_f95_v.jpg')" />
		</div>

		<img id="104UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_104UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3105UB_VLF_48_f95_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3105UB_VLF_48_f95_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("105UB_VLF_48_f95_v.jpg");
				//getMeta("ol_105UB_VLF_48_f95_v.jpg");

				zoomImg('105UB_VLF_48_f95_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3105UB_VLF_48_f95_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3105UB_VLF_48_f95_v.jpg')" />
		</div>

		<img id="105UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_105UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3106UB_VLF_48_f95_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3106UB_VLF_48_f95_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("106UB_VLF_48_f95_v.jpg");
				//getMeta("ol_106UB_VLF_48_f95_v.jpg");

				zoomImg('106UB_VLF_48_f95_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3106UB_VLF_48_f95_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3106UB_VLF_48_f95_v.jpg')" />
		</div>

		<img id="106UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_106UB_VLF_48_f95_v.jpg" src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlf48_95_vb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-104UB_VLF_48_f95_v.jpg">Musical pitches</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-105UB_VLF_48_f95_v.jpg">Syllogisms</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-106UB_VLF_48_f95_v.jpg">Rather</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-104UB_VLF_48_f95_v.jpg" class="hcTabContent">The other scribe added a note on musical pitches, and two sets of schemes regarding syllogistic propositions.</figcaption>
					<figcaption id="tab-content-105UB_VLF_48_f95_v.jpg" class="hcTabContent">A line separates the sets of examples of syllogisms.</figcaption>
					<figcaption id="tab-content-106UB_VLF_48_f95_v.jpg" class="hcTabContent">We know who one of these scribes was – Rather of Verona (890-974) added a copy of a letter at the base of the page.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2104UB_VLF_48_f95_v.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2105UB_VLF_48_f95_v.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2106UB_VLF_48_f95_v.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
