<figure class="aorCompManuscript" id="103_59_v_59_v_fr">
	<div id="img_103_59_v_59_v_fr" class="aorImgWindow">

		<div id="tab-content-3103f59v.jpg" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-3103f59v.jpg', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-3103f59v.jpg')">+</button>
			</div>

			<img src="images/content/103f59v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-3103f59vfr.jpg" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-3103f59vfr.jpg', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-3103f59vfr.jpg')">+</button>
			</div>

			<img src="images/content/103f59vfr.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_103_59_v_59_v_fr">
					<div class="aorFolioSections hcTabLabel" id="tab-list-103f59v.jpg">Leiden, UB, VLQ 103 f.59v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-103f59vfr.jpg">Leiden, UB, VLQ 103 f.59v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-103f59v.jpg" class="hcTabContent">Leiden, UB, VLQ 103 f.59v</figcaption>
					<figcaption id="tab-content-103f59vfr.jpg" class="hcTabContent">Leiden, UB, VLQ 103 f.59v</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2103f59v.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="Universiteitsbibliotheek Leiden" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2103f59vfr.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="Universiteitsbibliotheek Leiden" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
