<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/Burney_275_f143_r.jpg" />
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
			</div>
			<div class="aorFoliosCaption">
			</div>

		</div>





		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				f.143r The opening of the Pseudo-Ciceronian Rhetorica ad Herennium<br>
				<a href="">More about the manuscript Burney 275</a><br>
				<a href="http://www.bl.uk/manuscripts/Viewer.aspx?ref&#x3D;burney_ms_275_f143r" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>

	</div>


</figure>
