<figure class="aorCompManuscript" id="c_eincover">
	<div id="img_eincover" class="aorImgWindow">

		<div id="tab-content-3ein315_binding_Einsieldeln_315 (605)_binding_.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3ein315_binding_Einsieldeln_315 (605)_binding_.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("ein315_binding_Einsieldeln_315 (605)_binding_.jpg");
				//getMeta("ol_ein315_binding_Einsieldeln_315 (605)_binding_.jpg");

				zoomImg('ein315_binding_Einsieldeln_315 (605)_binding_.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3ein315_binding_Einsieldeln_315 (605)_binding_.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3ein315_binding_Einsieldeln_315 (605)_binding_.jpg')" />
		</div>

		<img id="ein315_binding_Einsieldeln_315 (605)_binding_.jpg" src="images/manuscripts/Einsieldeln_315 (605)_binding_.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_ein315_binding_Einsieldeln_315 (605)_binding_.jpg" src="images/manuscripts/Einsieldeln_315 (605)_binding_.jpg"  />
		</div>

		</div>

		<div id="tab-content-3ein315_side_Einsieldeln_315 (605)_side_.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3ein315_side_Einsieldeln_315 (605)_side_.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("ein315_side_Einsieldeln_315 (605)_side_.jpg");
				//getMeta("ol_ein315_side_Einsieldeln_315 (605)_side_.jpg");

				zoomImg('ein315_side_Einsieldeln_315 (605)_side_.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3ein315_side_Einsieldeln_315 (605)_side_.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3ein315_side_Einsieldeln_315 (605)_side_.jpg')" />
		</div>

		<img id="ein315_side_Einsieldeln_315 (605)_side_.jpg" src="images/manuscripts/Einsieldeln_315 (605)_side_.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_ein315_side_Einsieldeln_315 (605)_side_.jpg" src="images/manuscripts/Einsieldeln_315 (605)_side_.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_eincover">
					<div class="aorFolioSections hcTabLabel" id="tab-list-ein315_binding_Einsieldeln_315 (605)_binding_.jpg">315(605)</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-ein315_side_Einsieldeln_315 (605)_side_.jpg">315(605)</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-ein315_binding_Einsieldeln_315 (605)_binding_.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315 (605).  <a target="_blank" href="https://www.e-codices.unifr.ch/en/list/one/sbe/0315">https://www.e-codices.unifr.ch/en/list/one/sbe/0315</a></figcaption>
					<figcaption id="tab-content-ein315_side_Einsieldeln_315 (605)_side_.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315 (605).  <a target="_blank" href="https://www.e-codices.unifr.ch/en/list/one/sbe/0315">https://www.e-codices.unifr.ch/en/list/one/sbe/0315</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2ein315_binding_Einsieldeln_315 (605)_binding_.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2ein315_side_Einsieldeln_315 (605)_side_.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
