<figure class="aorCompManuscript" id="c_bpl139_46_v">
	<div id="img_bpl139_46_v" class="aorImgWindow">

		<div id="tab-content-371UB_BPL_139_f46_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-371UB_BPL_139_f46_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("71UB_BPL_139_f46_v.jpg");
				//getMeta("ol_71UB_BPL_139_f46_v.jpg");

				zoomImg('71UB_BPL_139_f46_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-371UB_BPL_139_f46_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-371UB_BPL_139_f46_v.jpg')" />
		</div>

		<img id="71UB_BPL_139_f46_v.jpg" src="images/manuscripts/UB_BPL_139_f46_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_71UB_BPL_139_f46_v.jpg" src="images/manuscripts/UB_BPL_139_f46_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl139_46_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-71UB_BPL_139_f46_v.jpg">BPL139Bf46v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-71UB_BPL_139_f46_v.jpg" class="hcTabContent">Leiden, UB, BPL 139B, f. 46v. <a href="http://link.nl">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-271UB_BPL_139_f46_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
