<figure class="aorCompManuscript" id="c_bnf178_4_v">
	<div id="img_bnf178_4_v" class="aorImgWindow">

		<div id="tab-content-336BnF_lat_17806_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-336BnF_lat_17806_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("36BnF_lat_17806_f4_v.jpg");
				//getMeta("ol_36BnF_lat_17806_f4_v.jpg");

				zoomImg('36BnF_lat_17806_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-336BnF_lat_17806_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-336BnF_lat_17806_f4_v.jpg')" />
		</div>

		<img id="36BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_36BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-337BnF_lat_17806_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-337BnF_lat_17806_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("37BnF_lat_17806_f4_v.jpg");
				//getMeta("ol_37BnF_lat_17806_f4_v.jpg");

				zoomImg('37BnF_lat_17806_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-337BnF_lat_17806_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-337BnF_lat_17806_f4_v.jpg')" />
		</div>

		<img id="37BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_37BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-362BnF_lat_17806_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-362BnF_lat_17806_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("62BnF_lat_17806_f4_v.jpg");
				//getMeta("ol_62BnF_lat_17806_f4_v.jpg");

				zoomImg('62BnF_lat_17806_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-362BnF_lat_17806_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-362BnF_lat_17806_f4_v.jpg')" />
		</div>

		<img id="62BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_62BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-363BnF_lat_17806_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-363BnF_lat_17806_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("63BnF_lat_17806_f4_v.jpg");
				//getMeta("ol_63BnF_lat_17806_f4_v.jpg");

				zoomImg('63BnF_lat_17806_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-363BnF_lat_17806_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-363BnF_lat_17806_f4_v.jpg')" />
		</div>

		<img id="63BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_63BnF_lat_17806_f4_v.jpg" src="images/manuscripts/BnF_lat_17806_f4_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf178_4_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-36BnF_lat_17806_f4_v.jpg">lat17806f4v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-37BnF_lat_17806_f4_v.jpg">lat17806f4v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-62BnF_lat_17806_f4_v.jpg">lat17806f4v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-63BnF_lat_17806_f4_v.jpg">lat17806f4v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-36BnF_lat_17806_f4_v.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 4v: A close up shows how equisite and detailed the penwork is. The size of the initial signifies the structure of the text: the larger the initial, the more important the unit of text is it opens. Red and blue are the usual colours of ink to use for these initials and the penwork, often in alternation. <a href="http://link.nl">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
					<figcaption id="tab-content-37BnF_lat_17806_f4_v.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 4v: In the red triangle we read: “in voce earum quae sunt”. This is a correction for a passage in the main text, which originally read “que sunt in voce”. In the main tekst, the passage is marked with dots under the letters, signifying that these words should be deleted and replaced by the correction in het margin. <a href="http://link.nl">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
					<figcaption id="tab-content-62BnF_lat_17806_f4_v.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 4v. A later reader added a Nota sign, marking a passage as noteworthy. <a href="http://link.nl">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
					<figcaption id="tab-content-63BnF_lat_17806_f4_v.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 4v. In the bottom margin we find a kind of diagram that often appears in these logical texts: the start of a sentence is broken up in two possible continuations, one of which is again broken up in a set of possible continuations. <a href="http://link.nl">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-236BnF_lat_17806_f4_v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-237BnF_lat_17806_f4_v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-262BnF_lat_17806_f4_v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-263BnF_lat_17806_f4_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
