<figure class="aorCompManuscript" id="dev23_cover_">
	<div id="img_dev23_cover_" class="aorImgWindow">

		<div id="tab-content-3" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("Deventer_AB_101 F 23 KL_cover.jpg");
				//getMeta("ol_Deventer_AB_101 F 23 KL_cover.jpg");

				zoomImg('Deventer_AB_101 F 23 KL_cover.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3')" />
		</div>

		<img id="Deventer_AB_101 F 23 KL_cover.jpg" src="images/manuscripts/Deventer_AB_101 F 23 KL_cover.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_Deventer_AB_101 F 23 KL_cover.jpg" src="images/manuscripts/Deventer_AB_101 F 23 KL_cover.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_dev23_cover_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">coverundefined</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">Deventer AB 101 F 23 KL</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
