<figure class="aorCompManuscript" id="11127_93_r_93_r_fr_94_r">
	<div id="img_11127_93_r_93_r_fr_94_r" class="aorImgWindow">

		<div id="tab-content-311127f93r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f93r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f93r.jpg11127f93r.jpg");
				//getMeta("ol_11127f93r.jpg11127f93r.jpg");

				zoomImg('11127f93r.jpg11127f93r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f93r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f93r.jpg')" />
		</div>

		<img id="11127f93r.jpg11127f93r.jpg" src="images/content/11127f93r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f93r.jpg11127f93r.jpg" src="images/content/11127f93r.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f93rfr.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f93rfr.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f93rfr.jpg11127f93rfr.jpg");
				//getMeta("ol_11127f93rfr.jpg11127f93rfr.jpg");

				zoomImg('11127f93rfr.jpg11127f93rfr.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f93rfr.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f93rfr.jpg')" />
		</div>

		<img id="11127f93rfr.jpg11127f93rfr.jpg" src="images/content/11127f93rfr.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f93rfr.jpg11127f93rfr.jpg" src="images/content/11127f93rfr.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_93_r_93_r_fr_94_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f93r.jpg">Paris, BnF, lat. 11127 f.93r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f93rfr.jpg">Paris, BnF, lat. 11127 f.93r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f93r.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 93r</figcaption>
					<figcaption id="tab-content-11127f93rfr.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 93r</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f93r.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f93rfr.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
