<figure class="aorCompManuscript" id="c_bpl144_17_r">
	<div id="img_bpl144_17_r" class="aorImgWindow">

		<div id="tab-content-354UB_BPL_144_f17_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-354UB_BPL_144_f17_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("54UB_BPL_144_f17_r.jpg");
				//getMeta("ol_54UB_BPL_144_f17_r.jpg");

				zoomImg('54UB_BPL_144_f17_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-354UB_BPL_144_f17_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-354UB_BPL_144_f17_r.jpg')" />
		</div>

		<img id="54UB_BPL_144_f17_r.jpg" src="images/manuscripts/UB_BPL_144_f17_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_54UB_BPL_144_f17_r.jpg" src="images/manuscripts/UB_BPL_144_f17_r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144_17_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-54UB_BPL_144_f17_r.jpg">BPL 144 f.17r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-54UB_BPL_144_f17_r.jpg" class="hcTabContent">Edge of the page</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-254UB_BPL_144_f17_r.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
