<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_88_172_v.jpg" />
			
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-60"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-99"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-60" class="hcTabContent"></figcaption>
					<figcaption id="tab-content-99" class="hcTabContent"></figcaption>
			</div>

		</div>




	</div>


</figure>
