<figure class="aorCompManuscript" id="bpl25_2_v">
	<div id="img_bpl25_2_v" class="aorImgWindow">

		<div id="tab-content-331" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-331', 1, 0);

				var el = document.getElementById('tab-content-331');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-331">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-331')" />
		</div>



			<img src="images/manuscripts/UB_BPL_25_f2_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_BPL_25_f2_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl25_2_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-31"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-31" class="hcTabContent"></figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-231" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
