<figure class="aorCompManuscript" id="gro22_68_v">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="gro22_68_v">

		<image href="images/manuscripts/UB_GRO_22_f68_v.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gro22_68_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">68v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">Leiden, UB, GRO 22 f.68v</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="GRO22.html">More about the manuscript Leiden GRO 22</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
