<figure class="aorCompManuscript" id="c_marginalnotes">
	<div id="img_marginalnotes" class="aorImgWindow">

		<div id="tab-content-359UB_BPL_144_f43_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-359UB_BPL_144_f43_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("59UB_BPL_144_f43_r.jpg");
				//getMeta("ol_59UB_BPL_144_f43_r.jpg");

				zoomImg('59UB_BPL_144_f43_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-359UB_BPL_144_f43_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-359UB_BPL_144_f43_r.jpg')" />
		</div>

		<img id="59UB_BPL_144_f43_r.jpg" src="images/manuscripts/UB_BPL_144_f43_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_59UB_BPL_144_f43_r.jpg" src="images/manuscripts/UB_BPL_144_f43_r.jpg"  />
		</div>

		</div>

		<div id="tab-content-317806f4vfr2.jpg17806f4vfr2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-317806f4vfr2.jpg17806f4vfr2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("17806f4vfr2.jpg17806f4vfr2.jpg");
				//getMeta("ol_17806f4vfr2.jpg17806f4vfr2.jpg");

				zoomImg('17806f4vfr2.jpg17806f4vfr2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-317806f4vfr2.jpg17806f4vfr2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-317806f4vfr2.jpg17806f4vfr2.jpg')" />
		</div>

		<img id="17806f4vfr2.jpg17806f4vfr2.jpg" src="images/content/17806f4vfr2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_17806f4vfr2.jpg17806f4vfr2.jpg" src="images/content/17806f4vfr2.jpg"  />
		</div>

		</div>

		<div id="tab-content-37900Af84r.jpg7900Af84r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-37900Af84r.jpg7900Af84r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("7900Af84r.jpg7900Af84r.jpg");
				//getMeta("ol_7900Af84r.jpg7900Af84r.jpg");

				zoomImg('7900Af84r.jpg7900Af84r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-37900Af84r.jpg7900Af84r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-37900Af84r.jpg7900Af84r.jpg')" />
		</div>

		<img id="7900Af84r.jpg7900Af84r.jpg" src="images/content/7900Af84r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_7900Af84r.jpg7900Af84r.jpg" src="images/content/7900Af84r.jpg"  />
		</div>

		</div>

		<div id="tab-content-397UB_BPL_88_f4_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-397UB_BPL_88_f4_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("97UB_BPL_88_f4_v.jpg");
				//getMeta("ol_97UB_BPL_88_f4_v.jpg");

				zoomImg('97UB_BPL_88_f4_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-397UB_BPL_88_f4_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-397UB_BPL_88_f4_v.jpg')" />
		</div>

		<img id="97UB_BPL_88_f4_v.jpg" src="images/manuscripts/UB_BPL_88_f4_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_97UB_BPL_88_f4_v.jpg" src="images/manuscripts/UB_BPL_88_f4_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-328UB_VLF_48_f32_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-328UB_VLF_48_f32_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("28UB_VLF_48_f32_r.jpg");
				//getMeta("ol_28UB_VLF_48_f32_r.jpg");

				zoomImg('28UB_VLF_48_f32_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-328UB_VLF_48_f32_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-328UB_VLF_48_f32_r.jpg')" />
		</div>

		<img id="28UB_VLF_48_f32_r.jpg" src="images/manuscripts/UB_VLF_48_f32_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_28UB_VLF_48_f32_r.jpg" src="images/manuscripts/UB_VLF_48_f32_r.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f161r.jpg11127f161r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f161r.jpg11127f161r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f161r.jpg11127f161r.jpg");
				//getMeta("ol_11127f161r.jpg11127f161r.jpg");

				zoomImg('11127f161r.jpg11127f161r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f161r.jpg11127f161r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f161r.jpg11127f161r.jpg')" />
		</div>

		<img id="11127f161r.jpg11127f161r.jpg" src="images/content/11127f161r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f161r.jpg11127f161r.jpg" src="images/content/11127f161r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_marginalnotes">
					<div class="aorFolioSections hcTabLabel" id="tab-list-59UB_BPL_144_f43_r.jpg"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-17806f4vfr2.jpg17806f4vfr2.jpg">BnF lat. 17806 f.4v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-7900Af84r.jpg7900Af84r.jpg">Paris, BnF, lat. 7900A f.84r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-97UB_BPL_88_f4_v.jpg"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-28UB_VLF_48_f32_r.jpg">Scheme</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f161r.jpg11127f161r.jpg">Paris, BnF, lat. 11127 f.161r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-59UB_BPL_144_f43_r.jpg" class="hcTabContent">BPL 144, f.43r (1) call attention to certain things</figcaption>
					<figcaption id="tab-content-17806f4vfr2.jpg17806f4vfr2.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 4v (c 1250-1275, Paris) (detail): Short summaries or marginal indices make clear what the reader can find in the text, which makes the text easier to consult</figcaption>
					<figcaption id="tab-content-7900Af84r.jpg7900Af84r.jpg" class="hcTabContent">Paris, BnF, lat. 7900A: Inserted slips (photo MT)</figcaption>
					<figcaption id="tab-content-97UB_BPL_88_f4_v.jpg" class="hcTabContent">Text in the box: ‘According to Calcidius, entelechy is perfecta aetas, completed lifetime. According to Aristotle, it is interpreted as absolute perfection. Plato, on the other hand, says that entelechy is the anima mundi, the soul of the world.’</figcaption>
					<figcaption id="tab-content-28UB_VLF_48_f32_r.jpg" class="hcTabContent">(5) scheme</figcaption>
					<figcaption id="tab-content-11127f161r.jpg11127f161r.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 161r (detail)</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-259UB_BPL_144_f43_r.jpg" class="hcTabContent ">
					<span>
					<a href="bpl144.html">About the manuscript Leiden Leiden, UB, BPL 144</a><br>
					<a href="http://hdl.handle.net/1887.1/item:2356986" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-217806f4vfr2.jpg17806f4vfr2.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Gallica" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-27900Af84r.jpg7900Af84r.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-297UB_BPL_88_f4_v.jpg" class="hcTabContent ">
					<span>
					<a href="bpl88.html">About the manuscript Leiden Leiden, UB, BPL 88</a><br>
					<a href="http://hdl.handle.net/1887.1/item:2028417" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-228UB_VLF_48_f32_r.jpg" class="hcTabContent ">
					<span>
					<a href="vlf48.html">About the manuscript Leiden Leiden, UB, VLF 48 </a><br>
					<a href="http://hdl.handle.net/1887.1/item:1618282" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f161r.jpg11127f161r.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="eigen foto" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
