<figure class="aorCompManuscript" id="c_bpl88_cover">
	<div id="img_bpl88_cover" class="aorImgWindow">

		<div id="tab-content-3bpl88_cover.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bpl88_cover.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bpl88_cover.jpg");
				//getMeta("ol_bpl88_cover.jpg");

				zoomImg('bpl88_cover.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bpl88_cover.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bpl88_cover.jpg')" />
		</div>

		<img id="bpl88_cover.jpg" src="images/manuscripts/bpl88_cover.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bpl88_cover.jpg" src="images/manuscripts/bpl88_cover.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl88_cover">
					<div class="aorFolioSections hcTabLabel" id="tab-list-bpl88_cover.jpg">coverundefined</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-bpl88_cover.jpg" class="hcTabContent">Leiden, UB, BPL 88</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2bpl88_cover.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
