<figure>


	<svg id="vlf48_30_v" class="aorCompManuscript" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_144_f58_r.jpg" />
			
	</svg>


	<div class="aorFolios">
			<div class="aorFolioSections hcTabLabel" id="tab-list-55">BPL 144 f.58r</div>
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		Leiden UB BPL 144 f.58r<br>
		<strong>About the manuscript</strong><br>
		Leiden BPL 144<br>
		<a href="Leiden-UB-BPL-144.html">More about the manuscript BPL 144</a><br>
		<a href="https://digitalcollections.universiteitleiden.nl/view/item/2357026" target="_blank">Source</a>
		</span>
	</figcaption>

		<figcaption id="tab-content-55" class="hcTabContent"></figcaption>
</figure>
