<figure class="aorCompManuscript" id="bpl139_46_v_benoit">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="bpl139_46_v_benoit">

		<image href="images/manuscripts/UB_BPL_139_f8_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl139_46_v_benoit">
					<div class="aorFolioSections hcTabLabel" id="tab-list-73"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-73" class="hcTabContent"></figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-273" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL139B.html">More about the manuscript Leiden BPL 139B</a><br>
					<a href="https://digitalcollections.universiteitleiden.nl/view/item/1687097" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
