<figure class="aorCompManuscript" id="c_romanrose">
	<div id="img_romanrose" class="aorImgWindow">

		<div id="tab-content-3romanrose.jpgromanrose.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3romanrose.jpgromanrose.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("romanrose.jpgromanrose.jpg");
				//getMeta("ol_romanrose.jpgromanrose.jpg");

				zoomImg('romanrose.jpgromanrose.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3romanrose.jpgromanrose.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3romanrose.jpgromanrose.jpg')" />
		</div>

		<img id="romanrose.jpgromanrose.jpg" src="images/content/romanrose.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_romanrose.jpgromanrose.jpg" src="images/content/romanrose.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_romanrose">
					<div class="aorFolioSections hcTabLabel" id="tab-list-romanrose.jpgromanrose.jpg">482f60v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-romanrose.jpgromanrose.jpg" class="hcTabContent">Chantilly, Musée Condé, ms. 482, Paris, 1350-1360, f. 60v (detail)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2romanrose.jpgromanrose.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
