<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_139_f39_v.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-17">BPL 139</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-17" class="hcTabContent">BPL 139</figcaption>
			</div>

		</div>




	</div>


</figure>
