<figure class="aorCompManuscript" id="c_25f30v32r">
	<div id="img_25f30v32r" class="aorImgWindow">

		<div id="tab-content-325f30v32r.jpg25f30v32r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f30v32r.jpg25f30v32r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f30v32r.jpg25f30v32r.jpg");
				//getMeta("ol_25f30v32r.jpg25f30v32r.jpg");

				zoomImg('25f30v32r.jpg25f30v32r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f30v32r.jpg25f30v32r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f30v32r.jpg25f30v32r.jpg')" />
		</div>

		<img id="25f30v32r.jpg25f30v32r.jpg" src="images/content/25f30v32r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f30v32r.jpg25f30v32r.jpg" src="images/content/25f30v32r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_25f30v32r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f30v32r.jpg25f30v32r.jpg">BPL25f30v-32r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-25f30v32r.jpg25f30v32r.jpg" class="hcTabContent">Leiden, UB, BPL 25, f. 30v-32r</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-225f30v32r.jpg25f30v32r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
