<figure class="aorCompManuscript" id="bpl25_12_r">
	<div id="img_bpl25_12_r" class="aorImgWindow">

		<div id="tab-content-312" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-312', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-312">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312')" />
		</div>



			<img src="images/manuscripts/UB_BPL_25_f12_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-313" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-313', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-313">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-313')" />
		</div>



			<img src="images/manuscripts/UB_BPL_25_f12_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-314" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-314', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-314">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-314')" />
		</div>



			<img src="images/manuscripts/UB_BPL_25_f12_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-315" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-315', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-315">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-315')" />
		</div>



			<img src="images/manuscripts/UB_BPL_25_f12_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl25_12_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-12">Propositions</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-13">Contradictory Relationships</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-14">Contrary Relationships</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-15">Subaltern Relationships</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-12" class="hcTabContent">In this example, the universal affirmative proposition, ‘all men are just’, is placed at the top left of the square. It’s placed alongside the other universal, but negative, proposition: ‘no men are just.’ At the bottom of the square we find the particular affirmative and negative propositions: ‘some men are just’ and ‘some men are not just’</figcaption>
					<figcaption id="tab-content-13" class="hcTabContent">The diagonal lines crossing the centre of the diagram (labelled ‘contradictorie’) connect propositions which are contradictory to each other. For example, if ‘all men are just’ (the universal affirmative proposition) then ‘some men are not just’ (the particular negative proposition) is a contradictory statement. If ‘all men are just’ then the statement ‘some men are not just’ cannot be true. Similarly, reading across the other diagonal, if ‘no men are just’ then ‘some men are just’ cannot be true.</figcaption>
					<figcaption id="tab-content-14" class="hcTabContent">The arrangement of the universal affirmative and negative propositions at the top of the square and the particular affirmative and negative propositions at the bottom is also meaningful; these are described as being ‘contrary’ to each other. That is, it is not possible for both of the universal propositions – ‘all men are just’ and ‘all men are not just’ – to be true, although they could be both false. However, while it is possible for both particular propositions – ‘some men are just’ and ‘some men are not just’ – to be true, they cannot both be false.</figcaption>
					<figcaption id="tab-content-15" class="hcTabContent">Finally, reading alongside the side of the square, a further relationship between the propositions, that of subalternation, is identified. If the universal affirmative proposition ‘all men are just’ placed on the top of the square is true, then the corresponding particular affirmative proposition ‘some man are just’ at the bottom of the square must also be true. Similarly, if the universal negative proposition, ‘no man is just’ is true, then the particular negative proposition, ‘some man is not just’ must also be true.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-212" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL25.html">More about the manuscript Leiden Leiden, UB, BPL 25</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-213" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL25.html">More about the manuscript Leiden Leiden, UB, BPL 25</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-214" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL25.html">More about the manuscript Leiden Leiden, UB, BPL 25</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-215" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL25.html">More about the manuscript Leiden Leiden, UB, BPL 25</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
