<figure class="aorCompManuscript" id="11127_170_v">
	<div id="img_11127_170_v" class="aorImgWindow">

		<div id="tab-content-311127f170v.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-311127f170v.jpg', 1, 0);

				var el = document.getElementById('tab-content-311127f170v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-311127f170v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f170v.jpg')" />
		</div>



			<img src="images/content/11127f170v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/11127f170v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_170_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f170v.jpg">Paris, BnF, lat. 11127 f.170v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f170v.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 170v</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f170v.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
