<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_GRO_22_page 2.jpg" />
	</svg>


	<div class="aorFolios">
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		Leiden UB GRO 22<br>
		<strong>About the manuscript</strong><br>
		Leiden GRO 22<br>
		<a href="Leiden-UB-BPL-144.html">More about the manuscript GRO 22</a><br>
		<a href="https://digitalcollections.universiteitleiden.nl/view/item/1668135#page/2/mode/1up" target="_blank">Source</a>
		</span>
	</figcaption>

</figure>
