<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/BnF_lat_7709_f52_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-21">Scheme</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-21" class="hcTabContent">Substantia, Corpus, Animatum Corpus, Animal, Homo, Socrates</figcaption>
			</div>

		</div>




	</div>


</figure>
