<figure class="aorCompManuscript" id="gro22_58_v">
	<div id="img_gro22_58_v" class="aorImgWindow">

		<div id="tab-content-3120" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3120');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("120UB_GRO_22_f58_v.jpg");
				//getMeta("ol_120UB_GRO_22_f58_v.jpg");

				zoomImg('120UB_GRO_22_f58_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3120">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3120')" />
		</div>

		<img id="120UB_GRO_22_f58_v.jpg" src="images/manuscripts/UB_GRO_22_f58_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_120UB_GRO_22_f58_v.jpg" src="images/manuscripts/UB_GRO_22_f58_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gro22_58_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-120">gloss</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-120" class="hcTabContent">On f. 58v, a glossator adds Augustine’s list of the eight categories of lies (De mendacio, 25).</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2120" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
