<figure class="aorCompManuscript" id="bnf178_164_v_218_r">
	<div id="img_bnf178_164_v_218_r" class="aorImgWindow">

		<div id="tab-content-3bnf178_164_v" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bnf178_164_v');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bnf178_164_vBnF_lat_17806_f164_v.jpg");
				//getMeta("ol_bnf178_164_vBnF_lat_17806_f164_v.jpg");

				zoomImg('bnf178_164_vBnF_lat_17806_f164_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bnf178_164_v">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bnf178_164_v')" />
		</div>

		<img id="bnf178_164_vBnF_lat_17806_f164_v.jpg" src="images/manuscripts/BnF_lat_17806_f164_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bnf178_164_vBnF_lat_17806_f164_v.jpg" src="images/manuscripts/BnF_lat_17806_f164_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3bnf178_218_r" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bnf178_218_r');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bnf178_218_rBnF_lat_17806_f218_r.jpg");
				//getMeta("ol_bnf178_218_rBnF_lat_17806_f218_r.jpg");

				zoomImg('bnf178_218_rBnF_lat_17806_f218_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bnf178_218_r">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bnf178_218_r')" />
		</div>

		<img id="bnf178_218_rBnF_lat_17806_f218_r.jpg" src="images/manuscripts/BnF_lat_17806_f218_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bnf178_218_rBnF_lat_17806_f218_r.jpg" src="images/manuscripts/BnF_lat_17806_f218_r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf178_164_v_218_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-bnf178_164_v">bnf178_164_v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-bnf178_218_r">bnf178_218_r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-bnf178_164_v" class="hcTabContent">Paris, BnF, lat. 17806, f. 164v: Opening of Analytica Priora</figcaption>
					<figcaption id="tab-content-bnf178_218_r" class="hcTabContent">Paris, BnF, lat. 17806, f. 218r: Opening of Analytica Posteriora</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2bnf178_164_v" class="hcTabContent ">
					<span>
					<a href="bnflat17806.html">About the manuscript Paris Paris, BnF, lat. 17806</a><br>
					<a href="https://gallica.bnf.fr/ark:/12148/btv1b525053525" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2bnf178_218_r" class="hcTabContent ">
					<span>
					<a href="bnflat17806.html">About the manuscript Paris Paris, BnF, lat. 17806</a><br>
					<a href="https://gallica.bnf.fr/ark:/12148/btv1b525053525" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
