<figure class="aorCompManuscript" id="gro22_23_r">
	<div id="img_gro22_23_r" class="aorImgWindow">

		<div id="tab-content-3134" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3134');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("134UB_GRO_22_f23_r.jpg");
				//getMeta("ol_134UB_GRO_22_f23_r.jpg");

				zoomImg('134UB_GRO_22_f23_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3134">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3134')" />
		</div>

		<img id="134UB_GRO_22_f23_r.jpg" src="images/manuscripts/UB_GRO_22_f23_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_134UB_GRO_22_f23_r.jpg" src="images/manuscripts/UB_GRO_22_f23_r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gro22_23_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-134">gloss</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-134" class="hcTabContent"></figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2134" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
