<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_VLF_48_f95_v.jpg" />
			
			
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-18">VLF 48</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-19">VLF 48 2</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-20">VLF 48 3</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-18" class="hcTabContent">VLF 48</figcaption>
					<figcaption id="tab-content-19" class="hcTabContent">VLF 48 2</figcaption>
					<figcaption id="tab-content-20" class="hcTabContent">VLF 48 3</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				Leiden, UB, VLF 48<br>
				<a href="">More about the manuscript VLF 48</a><br>
				<a href="https://digitalcollections.universiteitleiden.nl/view/item/1618282#page/106/mode/1up" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>

	</div>


</figure>
