<figure class="aorCompManuscript" id="gro22_11_r">
	<div id="img_gro22_11_r" class="aorImgWindow">

		<div id="tab-content-3118" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3118', 1, 0);

				var el = document.getElementById('tab-content-3118');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3118">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3118')" />
		</div>



			<img src="images/manuscripts/UB_GRO_22_f11_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_GRO_22_f11_r.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gro22_11_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-118">schemata</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-118" class="hcTabContent">These schemata (f. 11r) summarise Cicero’s discussion of the aspects of human nature (De inventione, I.XXIV.35) which are used to describe people involved in a case.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2118" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
