<figure class="aorCompManuscript" id="gal273_225_">
	<div id="img_gal273_225_" class="aorImgWindow">

		<div id="tab-content-3" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3', 1, 0);

				var el = document.getElementById('tab-content-3');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3')" />
		</div>



			<img src="images/manuscripts/Gall_SB_Cod_Sang_273_p.225_.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/Gall_SB_Cod_Sang_273_p.225_.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gal273_225_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">225undefined</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">St. Gallen,  Stiftsbibliothek, Cod.Sang. 273, p. 225.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
