<figure class="aorCompManuscript" id="bpl88_1_vc">
	<div id="img_bpl88_1_vc" class="aorImgWindow">

		<div id="tab-content-316" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-316', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-316">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-316')" />
		</div>



			<img src="images/manuscripts/UB_BPL_88_f1 _v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl88_1_vc">
					<div class="aorFolioSections hcTabLabel" id="tab-list-16">Square of opposition</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-16" class="hcTabContent">Leiden UB BPL 88 f.2r</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-216" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL88.html">More about the manuscript Leiden Leiden, UB, BPL 88</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
