<figure class="aorCompManuscript" id="c_commentaries">
	<div id="img_commentaries" class="aorImgWindow">

		<div id="tab-content-348f30vgroot.jpg48f30vgroot.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-348f30vgroot.jpg48f30vgroot.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("48f30vgroot.jpg48f30vgroot.jpg");
				//getMeta("ol_48f30vgroot.jpg48f30vgroot.jpg");

				zoomImg('48f30vgroot.jpg48f30vgroot.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-348f30vgroot.jpg48f30vgroot.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-348f30vgroot.jpg48f30vgroot.jpg')" />
		</div>

		<img id="48f30vgroot.jpg48f30vgroot.jpg" src="images/content/48f30vgroot.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_48f30vgroot.jpg48f30vgroot.jpg" src="images/content/48f30vgroot.jpg"  />
		</div>

		</div>

		<div id="tab-content-31925.jpg1925.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-31925.jpg1925.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("1925.jpg1925.jpg");
				//getMeta("ol_1925.jpg1925.jpg");

				zoomImg('1925.jpg1925.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-31925.jpg1925.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-31925.jpg1925.jpg')" />
		</div>

		<img id="1925.jpg1925.jpg" src="images/content/1925.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_1925.jpg1925.jpg" src="images/content/1925.jpg"  />
		</div>

		</div>

		<div id="tab-content-3bnf178_164_vBnF_lat_17806_f164_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bnf178_164_vBnF_lat_17806_f164_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bnf178_164_vBnF_lat_17806_f164_v.jpg");
				//getMeta("ol_bnf178_164_vBnF_lat_17806_f164_v.jpg");

				zoomImg('bnf178_164_vBnF_lat_17806_f164_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bnf178_164_vBnF_lat_17806_f164_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bnf178_164_vBnF_lat_17806_f164_v.jpg')" />
		</div>

		<img id="bnf178_164_vBnF_lat_17806_f164_v.jpg" src="images/manuscripts/BnF_lat_17806_f164_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bnf178_164_vBnF_lat_17806_f164_v.jpg" src="images/manuscripts/BnF_lat_17806_f164_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_commentaries">
					<div class="aorFolioSections hcTabLabel" id="tab-list-48f30vgroot.jpg48f30vgroot.jpg">VLF48f30v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-1925.jpg1925.jpg">BPL1925f139v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-bnf178_164_vBnF_lat_17806_f164_v.jpg">lat17806f164</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-48f30vgroot.jpg48f30vgroot.jpg" class="hcTabContent">Leiden, UB, VLF 48, f. 30v: Example of an extensive commentary added in the margin. The book is 307 mm high.<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:1618282">http://hdl.handle.net/1887.1/item:1618282</a></figcaption>
					<figcaption id="tab-content-1925.jpg1925.jpg" class="hcTabContent">Leiden, UB, BPL 1925, f. 139v: example of a text with a narrow margin and only occasional notes. The book is only ca 13,5 cm high.<br><a target="_blank" href="http://hdl.handle.net/1887.1/item:877637">http://hdl.handle.net/1887.1/item:877637</a></figcaption>
					<figcaption id="tab-content-bnf178_164_vBnF_lat_17806_f164_v.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 164v: Opening of Analytica Priora.  <a target="_blank" href="https://gallica.bnf.fr/ark:/12148/btv1b525053525">https://gallica.bnf.fr/ark:/12148/btv1b525053525</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-248f30vgroot.jpg48f30vgroot.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-21925.jpg1925.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2bnf178_164_vBnF_lat_17806_f164_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
