<figure class="aorCompManuscript" id="bpl144_2_r">
	<div id="img_bpl144_2_r" class="aorImgWindow">

		<div id="tab-content-346" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-346', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-346')">+</button>
			</div>

			<img src="images/manuscripts/UB_BPL_144_f2_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-347" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-347', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-347')">+</button>
			</div>

			<img src="images/manuscripts/UB_BPL_144_f2_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-3110" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-3110', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-3110')">+</button>
			</div>

			<img src="images/manuscripts/UB_BPL_144_f2_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144_2_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-46">Margin</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-47">Nota signs</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-110">Nota signs 2</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-46" class="hcTabContent"></figcaption>
					<figcaption id="tab-content-47" class="hcTabContent">Written nota signs from the original annotating hand (below) and from the later one (above)</figcaption>
					<figcaption id="tab-content-110" class="hcTabContent">A written Nota sign in the original hand, and a drawn head as attention sign in the later hand.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-246" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL144.html">More about the manuscript Leiden UB, BPL 144</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-247" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL144.html">More about the manuscript Leiden UB, BPL 144</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2110" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL144.html">More about the manuscript Leiden UB, BPL 144</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
