<figure class="aorCompManuscript" id="c_hornbook">
	<div id="img_hornbook" class="aorImgWindow">

		<div id="tab-content-3dialecticatablet.jpgdialecticatablet.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3dialecticatablet.jpgdialecticatablet.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("dialecticatablet.jpgdialecticatablet.jpg");
				//getMeta("ol_dialecticatablet.jpgdialecticatablet.jpg");

				zoomImg('dialecticatablet.jpgdialecticatablet.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3dialecticatablet.jpgdialecticatablet.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3dialecticatablet.jpgdialecticatablet.jpg')" />
		</div>

		<img id="dialecticatablet.jpgdialecticatablet.jpg" src="images/content/dialecticatablet.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_dialecticatablet.jpgdialecticatablet.jpg" src="images/content/dialecticatablet.jpg"  />
		</div>

		</div>

		<div id="tab-content-3hornbook.jpghornbook.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3hornbook.jpghornbook.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("hornbook.jpghornbook.jpg");
				//getMeta("ol_hornbook.jpghornbook.jpg");

				zoomImg('hornbook.jpghornbook.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3hornbook.jpghornbook.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3hornbook.jpghornbook.jpg')" />
		</div>

		<img id="hornbook.jpghornbook.jpg" src="images/content/hornbook.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_hornbook.jpghornbook.jpg" src="images/content/hornbook.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_hornbook">
					<div class="aorFolioSections hcTabLabel" id="tab-list-dialecticatablet.jpgdialecticatablet.jpg">lat7900Af132v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-hornbook.jpghornbook.jpg"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-dialecticatablet.jpgdialecticatablet.jpg" class="hcTabContent">Paris, BnF, lat. 7900A, f. 132v (detail)</figcaption>
					<figcaption id="tab-content-hornbook.jpghornbook.jpg" class="hcTabContent">Hornbook Washington, Folger Shakespeare Library, STC 13813.6 (dated 1625)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2dialecticatablet.jpgdialecticatablet.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2hornbook.jpghornbook.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
