<figure class="aorCompManuscript" id="c_ein315_6_">
	<div id="img_ein315_6_" class="aorImgWindow">

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_ein315_6_">
			</div>
			<div class="aorFoliosCaption">
			</div>

		</div>




		<div class="aorFoliosManuscript">


		</div>


	</div>


</figure>
insieldeln_315 (605)_p6.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("74Einsieldeln_315 (605)_p6.jpg");
				//getMeta("ol_74Einsieldeln_315 (605)_p6.jpg");

				zoomImg('74Einsieldeln_315 (605)_p6.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-374Einsieldeln_315 (605)_p6.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-374Einsieldeln_315 (605)_p6.jpg')" />
		</div>

		<img id="74Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_74Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />
		</div>

		</div>

		<div id="tab-content-375Einsieldeln_315 (605)_p6.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-375Einsieldeln_315 (605)_p6.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("75Einsieldeln_315 (605)_p6.jpg");
				//getMeta("ol_75Einsieldeln_315 (605)_p6.jpg");

				zoomImg('75Einsieldeln_315 (605)_p6.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-375Einsieldeln_315 (605)_p6.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-375Einsieldeln_315 (605)_p6.jpg')" />
		</div>

		<img id="75Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_75Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />
		</div>

		</div>

		<div id="tab-content-376Einsieldeln_315 (605)_p6.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-376Einsieldeln_315 (605)_p6.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("76Einsieldeln_315 (605)_p6.jpg");
				//getMeta("ol_76Einsieldeln_315 (605)_p6.jpg");

				zoomImg('76Einsieldeln_315 (605)_p6.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-376Einsieldeln_315 (605)_p6.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-376Einsieldeln_315 (605)_p6.jpg')" />
		</div>

		<img id="76Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_76Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />
		</div>

		</div>

		<div id="tab-content-377Einsieldeln_315 (605)_p6.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-377Einsieldeln_315 (605)_p6.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("77Einsieldeln_315 (605)_p6.jpg");
				//getMeta("ol_77Einsieldeln_315 (605)_p6.jpg");

				zoomImg('77Einsieldeln_315 (605)_p6.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-377Einsieldeln_315 (605)_p6.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-377Einsieldeln_315 (605)_p6.jpg')" />
		</div>

		<img id="77Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_77Einsieldeln_315 (605)_p6.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p6.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_ein315_6_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-74Einsieldeln_315 (605)_p6.jpg">315p6</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-75Einsieldeln_315 (605)_p6.jpg">315p6</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-76Einsieldeln_315 (605)_p6.jpg">315p6</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-77Einsieldeln_315 (605)_p6.jpg">315p6</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-74Einsieldeln_315 (605)_p6.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315(605), p. 6. http://www.e-codices.ch/en/sbe/0315</figcaption>
					<figcaption id="tab-content-75Einsieldeln_315 (605)_p6.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315(605), p.6: The text has been carefully corrected, here ‘ad’ has been corrected to ‘ab’ and ‘actenus’ to ‘hactenus’. http://www.e-codices.ch/en/sbe/0315</figcaption>
					<figcaption id="tab-content-76Einsieldeln_315 (605)_p6.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315(605), p. 6: Here small squiggles have been added in the margin alongside the text; these are rudimentary quotation marks indicating original text from the Isagoge, the subject of Boethius’ commentary. http://www.e-codices.ch/en/sbe/0315</figcaption>
					<figcaption id="tab-content-77Einsieldeln_315 (605)_p6.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315(605), p. 6: Here interlinear glosses have been added to provide Latin equivalents of the Greek terms hyperbaton (transposition of words) and zeuma (where one word can be used in two different contexts). The glossator describes these as ‘confusus ordo’, the confusion of order, and ‘repetitio’, repetition, respectively. http://www.e-codices.ch/en/sbe/0315</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-274Einsieldeln_315 (605)_p6.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-275Einsieldeln_315 (605)_p6.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-276Einsieldeln_315 (605)_p6.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-277Einsieldeln_315 (605)_p6.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
