<figure class="aorCompManuscript" id="11127_24_r">
	<div id="img_11127_24_r" class="aorImgWindow">

		<div id="tab-content-311127f24r.jpg" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-311127f24r.jpg', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-311127f24r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f24r.jpg')" />
		</div>



			<img src="images/content/11127f24r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_24_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f24r.jpg">Paris, BnF, lat. 11127 f.24r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f24r.jpg" class="hcTabContent">Paris, BnF, lat. 11127 f.24r</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f24r.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="photographed by I. O&#x27;D" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
