<figure class="aorCompManuscript" id="c_7185">
	<div id="img_7185" class="aorImgWindow">

		<div id="tab-content-37185.jpg7185.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-37185.jpg7185.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("7185.jpg7185.jpg");
				//getMeta("ol_7185.jpg7185.jpg");

				zoomImg('7185.jpg7185.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-37185.jpg7185.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-37185.jpg7185.jpg')" />
		</div>

		<img id="7185.jpg7185.jpg" src="images/content/7185.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_7185.jpg7185.jpg" src="images/content/7185.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_7185">
					<div class="aorFolioSections hcTabLabel" id="tab-list-7185.jpg7185.jpg">lat7185f49r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-7185.jpg7185.jpg" class="hcTabContent">Paris, BnF, lat. 7185, f. 49r: A decorated initial from the opening of a twelfth-century copy of Gerbert’s De geometria</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-27185.jpg7185.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
