<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">

		<image href="images/manuscripts/BnF_lat_16598_f37_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">37r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">f.37r Porphyrian Tree</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				<strong>About the manuscript</strong><br>
				<a href="bnflat16598.html">More about the manuscript Parijs BnF lat. 16598</a><br>
				<a href="" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>

	</div>


</figure>
