<figure>


	<svg id="vlf48_30_v" class="aorCompManuscript" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_84_f90_r.jpg" />
			
	</svg>


	<div class="aorFolios">
			<div class="aorFolioSections hcTabLabel" id="tab-list-38">BPL 84 f.90r</div>
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		Dialogue between Alcuin and Charlemagne<br>
		<strong>About the manuscript</strong><br>
		Leiden BPL 84<br>
		<a href="Leiden-UB-BPL-25.html">More about the manuscript BPL 84</a><br>
		<a href="https://digitalcollections.universiteitleiden.nl/view/item/2348792" target="_blank">Source</a>
		</span>
	</figcaption>

		<figcaption id="tab-content-38" class="hcTabContent">Dialogue between Alcuin and Charlemagne</figcaption>
</figure>
