<figure class="aorCompManuscript" id="bnf770_52_r">
	<div id="img_bnf770_52_r" class="aorImgWindow">

		<div id="tab-content-321" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-321', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-321">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-321')" />
		</div>



			<img src="images/manuscripts/BnF_lat_7709_f52_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf770_52_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-21">Scheme</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-21" class="hcTabContent">Substantia, Corpus, Animatum Corpus, Animal, Homo, Socrates</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-221" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="bnflat17806.html">More about the manuscript Paris Paris, BnF, Lat. 17806</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
