<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/BnF_lat_7900A_f127_r.jpg" />
			
			
			
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-92"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-93"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-94"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-95"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-92" class="hcTabContent"></figcaption>
					<figcaption id="tab-content-93" class="hcTabContent">Introductions to the author</figcaption>
					<figcaption id="tab-content-94" class="hcTabContent">Author&#x27;s portrait</figcaption>
					<figcaption id="tab-content-95" class="hcTabContent">Opening of the commentary</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				<br>
				<strong>About the manuscript</strong><br>
				Parijs BnF lat. 7900A<br>
				<a href="">More about the manuscript BnF lat. 7900A</a><br>
				<a href="https://gallica.bnf.fr/ark:/12148/btv1b10546779x/f61.item.r&#x3D;7900A.zoom" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>
	
	</div>


</figure>
