<figure class="aorCompManuscript" id="11127_49_r">
	<div id="img_11127_49_r" class="aorImgWindow">

		<div id="tab-content-311127f49r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49r.jpg11127f49r.jpg");
				//getMeta("ol_11127f49r.jpg11127f49r.jpg");

				zoomImg('11127f49r.jpg11127f49r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49r.jpg')" />
		</div>

		<img id="11127f49r.jpg11127f49r.jpg" src="images/content/11127f49r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49r.jpg11127f49r.jpg" src="images/content/11127f49r.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr1.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr1.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr1.jpg11127f49rfr1.jpg");
				//getMeta("ol_11127f49rfr1.jpg11127f49rfr1.jpg");

				zoomImg('11127f49rfr1.jpg11127f49rfr1.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr1.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr1.jpg')" />
		</div>

		<img id="11127f49rfr1.jpg11127f49rfr1.jpg" src="images/content/11127f49rfr1.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr1.jpg11127f49rfr1.jpg" src="images/content/11127f49rfr1.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr2.jpg11127f49rfr2.jpg");
				//getMeta("ol_11127f49rfr2.jpg11127f49rfr2.jpg");

				zoomImg('11127f49rfr2.jpg11127f49rfr2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr2.jpg')" />
		</div>

		<img id="11127f49rfr2.jpg11127f49rfr2.jpg" src="images/content/11127f49rfr2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr2.jpg11127f49rfr2.jpg" src="images/content/11127f49rfr2.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr3.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr3.jpg11127f49rfr3.jpg");
				//getMeta("ol_11127f49rfr3.jpg11127f49rfr3.jpg");

				zoomImg('11127f49rfr3.jpg11127f49rfr3.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr3.jpg')" />
		</div>

		<img id="11127f49rfr3.jpg11127f49rfr3.jpg" src="images/content/11127f49rfr3.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr3.jpg11127f49rfr3.jpg" src="images/content/11127f49rfr3.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr4.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr4.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr4.jpg11127f49rfr4.jpg");
				//getMeta("ol_11127f49rfr4.jpg11127f49rfr4.jpg");

				zoomImg('11127f49rfr4.jpg11127f49rfr4.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr4.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr4.jpg')" />
		</div>

		<img id="11127f49rfr4.jpg11127f49rfr4.jpg" src="images/content/11127f49rfr4.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr4.jpg11127f49rfr4.jpg" src="images/content/11127f49rfr4.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr5.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr5.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr5.jpg11127f49rfr5.jpg");
				//getMeta("ol_11127f49rfr5.jpg11127f49rfr5.jpg");

				zoomImg('11127f49rfr5.jpg11127f49rfr5.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr5.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr5.jpg')" />
		</div>

		<img id="11127f49rfr5.jpg11127f49rfr5.jpg" src="images/content/11127f49rfr5.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr5.jpg11127f49rfr5.jpg" src="images/content/11127f49rfr5.jpg"  />
		</div>

		</div>

		<div id="tab-content-311127f49rfr6.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-311127f49rfr6.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("11127f49rfr6.jpg11127f49rfr6.jpg");
				//getMeta("ol_11127f49rfr6.jpg11127f49rfr6.jpg");

				zoomImg('11127f49rfr6.jpg11127f49rfr6.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-311127f49rfr6.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-311127f49rfr6.jpg')" />
		</div>

		<img id="11127f49rfr6.jpg11127f49rfr6.jpg" src="images/content/11127f49rfr6.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_11127f49rfr6.jpg11127f49rfr6.jpg" src="images/content/11127f49rfr6.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_49_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49r.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr1.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr2.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr3.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr4.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr5.jpg">Paris, BnF, lat. 11127 f.49r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f49rfr6.jpg">Paris, BnF, lat. 11127 f.49r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f49r.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r</figcaption>
					<figcaption id="tab-content-11127f49rfr1.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: Different terms are used to introduce the interlinear gloss. These include abbreviations for ‘scilicet’ (‘s’) and ‘id est’ (‘i’), both meaning ‘that is’ and offering explanations of Boethius’ wording.</figcaption>
					<figcaption id="tab-content-11127f49rfr2.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: Different terms are used to introduce the interlinear gloss. These include abbreviations for ‘scilicet’ (‘s’) and ‘id est’ (‘i’), both meaning ‘that is’ and offering explanations of Boethius’ wording.</figcaption>
					<figcaption id="tab-content-11127f49rfr3.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: Here the word ‘exemplum’, ‘example’, has been added above the word ‘dico’, ‘I say’, in the text, indicating that Boethius is about to introduce an example.</figcaption>
					<figcaption id="tab-content-11127f49rfr4.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: Keywords are used summarise main points of the text.</figcaption>
					<figcaption id="tab-content-11127f49rfr5.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: Here a later reader has noted that the second book of the text starts here.</figcaption>
					<figcaption id="tab-content-11127f49rfr6.jpg" class="hcTabContent">Paris, BnF, lat. 11127, f. 49r: The gloss in this case is a correction, supplying text missed by the scribe.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f49r.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr1.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr2.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr3.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr4.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr5.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f49rfr6.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
