<figure class="aorCompManuscript" id="c_vlf48_50_v">
	<div id="img_vlf48_50_v" class="aorImgWindow">

		<div id="tab-content-324UB_VLF_48_f50_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-324UB_VLF_48_f50_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("24UB_VLF_48_f50_v.jpg");
				//getMeta("ol_24UB_VLF_48_f50_v.jpg");

				zoomImg('24UB_VLF_48_f50_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-324UB_VLF_48_f50_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-324UB_VLF_48_f50_v.jpg')" />
		</div>

		<img id="24UB_VLF_48_f50_v.jpg" src="images/manuscripts/UB_VLF_48_f50_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_24UB_VLF_48_f50_v.jpg" src="images/manuscripts/UB_VLF_48_f50_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlf48_50_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-24UB_VLF_48_f50_v.jpg"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-24UB_VLF_48_f50_v.jpg" class="hcTabContent"></figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-224UB_VLF_48_f50_v.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
