<figure>


	<svg id="vlf48_30_v" class="aorCompManuscript" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/BnF_lat_178_f4_v.jpg" />
			
			
	</svg>


	<div class="aorFolios">
			<div class="aorFolioSections hcTabLabel" id="tab-list-1"></div>
			<div class="aorFolioSections hcTabLabel" id="tab-list-2"></div>
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		Paris, BnF, lat.17806 f.4v<br>
		<strong>About the manuscript</strong><br>
		Parijs BnF lat. 17806<br>
		<a href="r.html">More about the manuscript BnF lat. 17806</a><br>
		<a href="https://gallica.bnf.fr/ark:/12148/btv1b525053525/f14.item.zoom" target="_blank">Source</a>
		</span>
	</figcaption>

		<figcaption id="tab-content-1" class="hcTabContent"></figcaption>
		<figcaption id="tab-content-2" class="hcTabContent"></figcaption>
</figure>
