<figure class="aorCompManuscript" id="c_bpl139_46_v_benoit">
	<div id="img_bpl139_46_v_benoit" class="aorImgWindow">

		<div id="tab-content-373UB_BPL_139_f8_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-373UB_BPL_139_f8_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("73UB_BPL_139_f8_r.jpg");
				//getMeta("ol_73UB_BPL_139_f8_r.jpg");

				zoomImg('73UB_BPL_139_f8_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-373UB_BPL_139_f8_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-373UB_BPL_139_f8_r.jpg')" />
		</div>

		<img id="73UB_BPL_139_f8_r.jpg" src="images/manuscripts/UB_BPL_139_f8_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_73UB_BPL_139_f8_r.jpg" src="images/manuscripts/UB_BPL_139_f8_r.jpg"  />
		</div>

		</div>

		<div id="tab-content-3benoit.jpgbenoit.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3benoit.jpgbenoit.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("benoit.jpgbenoit.jpg");
				//getMeta("ol_benoit.jpgbenoit.jpg");

				zoomImg('benoit.jpgbenoit.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3benoit.jpgbenoit.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3benoit.jpgbenoit.jpg')" />
		</div>

		<img id="benoit.jpgbenoit.jpg" src="images/content/benoit.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_benoit.jpgbenoit.jpg" src="images/content/benoit.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl139_46_v_benoit">
					<div class="aorFolioSections hcTabLabel" id="tab-list-73UB_BPL_139_f8_r.jpg">BPL139Bf8r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-benoit.jpgbenoit.jpg">Saint-Benoît-sur-Loire</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-73UB_BPL_139_f8_r.jpg" class="hcTabContent">Leiden, UB, BPL 139B, f. 8r. <a href="http://link.nl">http://hdl.handle.net/1887.1/item:1687093</a></figcaption>
					<figcaption id="tab-content-benoit.jpgbenoit.jpg" class="hcTabContent">Saint-Benoît-sur-Loire<br><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Saint-Beno%C3%AEt_-France.JPG">https://commons.wikimedia.org/wiki/File:Saint-Beno%C3%AEt_-France.JPG</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-273UB_BPL_139_f8_r.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2benoit.jpgbenoit.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
