<figure class="aorCompManuscript" id="c_12949diagrams">
	<div id="img_12949diagrams" class="aorImgWindow">

		<div id="tab-content-312949f29v.jpg12949f29v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f29v.jpg12949f29v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f29v.jpg12949f29v.jpg");
				//getMeta("ol_12949f29v.jpg12949f29v.jpg");

				zoomImg('12949f29v.jpg12949f29v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f29v.jpg12949f29v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f29v.jpg12949f29v.jpg')" />
		</div>

		<img id="12949f29v.jpg12949f29v.jpg" src="images/content/12949f29v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f29v.jpg12949f29v.jpg" src="images/content/12949f29v.jpg"  />
		</div>

		</div>

		<div id="tab-content-312949f30r.jpg12949f30r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f30r.jpg12949f30r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f30r.jpg12949f30r.jpg");
				//getMeta("ol_12949f30r.jpg12949f30r.jpg");

				zoomImg('12949f30r.jpg12949f30r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f30r.jpg12949f30r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f30r.jpg12949f30r.jpg')" />
		</div>

		<img id="12949f30r.jpg12949f30r.jpg" src="images/content/12949f30r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f30r.jpg12949f30r.jpg" src="images/content/12949f30r.jpg"  />
		</div>

		</div>

		<div id="tab-content-312949f27bisr.jpg12949f27bisr.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f27bisr.jpg12949f27bisr.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f27bisr.jpg12949f27bisr.jpg");
				//getMeta("ol_12949f27bisr.jpg12949f27bisr.jpg");

				zoomImg('12949f27bisr.jpg12949f27bisr.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f27bisr.jpg12949f27bisr.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f27bisr.jpg12949f27bisr.jpg')" />
		</div>

		<img id="12949f27bisr.jpg12949f27bisr.jpg" src="images/content/12949f27bisr.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f27bisr.jpg12949f27bisr.jpg" src="images/content/12949f27bisr.jpg"  />
		</div>

		</div>

		<div id="tab-content-312949f31r.jpg12949f31r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f31r.jpg12949f31r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f31r.jpg12949f31r.jpg");
				//getMeta("ol_12949f31r.jpg12949f31r.jpg");

				zoomImg('12949f31r.jpg12949f31r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f31r.jpg12949f31r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f31r.jpg12949f31r.jpg')" />
		</div>

		<img id="12949f31r.jpg12949f31r.jpg" src="images/content/12949f31r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f31r.jpg12949f31r.jpg" src="images/content/12949f31r.jpg"  />
		</div>

		</div>

		<div id="tab-content-312949f37v.jpg12949f37v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f37v.jpg12949f37v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f37v.jpg12949f37v.jpg");
				//getMeta("ol_12949f37v.jpg12949f37v.jpg");

				zoomImg('12949f37v.jpg12949f37v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f37v.jpg12949f37v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f37v.jpg12949f37v.jpg')" />
		</div>

		<img id="12949f37v.jpg12949f37v.jpg" src="images/content/12949f37v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f37v.jpg12949f37v.jpg" src="images/content/12949f37v.jpg"  />
		</div>

		</div>

		<div id="tab-content-312949f51r.jpg12949f51r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f51r.jpg12949f51r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f51r.jpg12949f51r.jpg");
				//getMeta("ol_12949f51r.jpg12949f51r.jpg");

				zoomImg('12949f51r.jpg12949f51r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f51r.jpg12949f51r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f51r.jpg12949f51r.jpg')" />
		</div>

		<img id="12949f51r.jpg12949f51r.jpg" src="images/content/12949f51r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f51r.jpg12949f51r.jpg" src="images/content/12949f51r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_12949diagrams">
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f29v.jpg12949f29v.jpg">lat12949r29v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f30r.jpg12949f30r.jpg">lat12949f30r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f27bisr.jpg12949f27bisr.jpg">lat12949f27bisr</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f31r.jpg12949f31r.jpg">lat12949r31r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f37v.jpg12949f37v.jpg">lat12949f37v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f51r.jpg12949f51r.jpg">lat12949f51r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-12949f29v.jpg12949f29v.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 29v (detail): House diagram</figcaption>
					<figcaption id="tab-content-12949f30r.jpg12949f30r.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 30r (detail): House diagram</figcaption>
					<figcaption id="tab-content-12949f27bisr.jpg12949f27bisr.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 27bis r: Diagram on an inserted piece of parchment</figcaption>
					<figcaption id="tab-content-12949f31r.jpg12949f31r.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 31r (detail): Tree diagram</figcaption>
					<figcaption id="tab-content-12949f37v.jpg12949f37v.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 37v (detail): Fishbone diagrams</figcaption>
					<figcaption id="tab-content-12949f51r.jpg12949f51r.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 51r (detail)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-212949f29v.jpg12949f29v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-212949f30r.jpg12949f30r.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-212949f27bisr.jpg12949f27bisr.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-212949f31r.jpg12949f31r.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-212949f37v.jpg12949f37v.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-212949f51r.jpg12949f51r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
