<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_84_f13_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-85"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-85" class="hcTabContent">f. 13r: ‘Retro in libro topicorum iii’: ‘Back in book III of the Topics’</figcaption>
			</div>

		</div>




	</div>


</figure>
