<figure class="aorCompManuscript" id="hornbook">
	<div id="img_hornbook" class="aorImgWindow">

		<div id="tab-content-3dialecticatablet.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3dialecticatablet.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("dialecticatablet.jpgdialecticatablet.jpg");
				//getMeta("ol_dialecticatablet.jpgdialecticatablet.jpg");

				zoomImg('dialecticatablet.jpgdialecticatablet.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3dialecticatablet.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3dialecticatablet.jpg')" />
		</div>

		<img id="dialecticatablet.jpgdialecticatablet.jpg" src="images/content/dialecticatablet.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_dialecticatablet.jpgdialecticatablet.jpg" src="images/content/dialecticatablet.jpg"  />
		</div>

		</div>

		<div id="tab-content-3hornbook.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3hornbook.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("hornbook.jpghornbook.jpg");
				//getMeta("ol_hornbook.jpghornbook.jpg");

				zoomImg('hornbook.jpghornbook.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3hornbook.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3hornbook.jpg')" />
		</div>

		<img id="hornbook.jpghornbook.jpg" src="images/content/hornbook.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_hornbook.jpghornbook.jpg" src="images/content/hornbook.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_hornbook">
					<div class="aorFolioSections hcTabLabel" id="tab-list-dialecticatablet.jpg">Bnf lat 7900A f.132v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-hornbook.jpg"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-dialecticatablet.jpg" class="hcTabContent">Paris, BnF, lat. 7900A, f. 132v (detail)</figcaption>
					<figcaption id="tab-content-hornbook.jpg" class="hcTabContent">Hornbook Washington, Folger Shakespeare Library, STC 13813.6 (dated 1625)</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2dialecticatablet.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Gallica" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2hornbook.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Folger Shakespeare Library" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
