<figure class="aorCompManuscript" id="c_vlq33">
	<div id="img_vlq33" class="aorImgWindow">

		<div id="tab-content-3vlq33.jpgvlq33.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3vlq33.jpgvlq33.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("vlq33.jpgvlq33.jpg");
				//getMeta("ol_vlq33.jpgvlq33.jpg");

				zoomImg('vlq33.jpgvlq33.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3vlq33.jpgvlq33.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3vlq33.jpgvlq33.jpg')" />
		</div>

		<img id="vlq33.jpgvlq33.jpg" src="images/content/vlq33.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_vlq33.jpgvlq33.jpg" src="images/content/vlq33.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlq33">
					<div class="aorFolioSections hcTabLabel" id="tab-list-vlq33.jpgvlq33.jpg">VLQ 33f1v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-vlq33.jpgvlq33.jpg" class="hcTabContent">Leiden UB, VLQ 33, f. 1v (photo IO&#x27;D): Depiction of Rhetoric as a female warrior (on the left) in conversation with two figures (philosophers?) dressed in antiquated clothing.</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2vlq33.jpgvlq33.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
