<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_25_f2_v.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-31"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-31" class="hcTabContent"></figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				Leiden UB BPL 25 f.2v<br>
				<strong>About the manuscript</strong><br>
				Leiden BPL 25<br>
				<a href="Leiden-UB-BPL-25.html">More about the manuscript BPL 25</a><br>
				<a href="https://digitalcollections.universiteitleiden.nl/view/item/1617684#page/8/mode/1up" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>
	</div>






</figure>
