<figure class="aorCompManuscript" id="14614">
	<div id="img_14614" class="aorImgWindow">

		<div id="tab-content-3bnf146_130_r" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bnf146_130_r');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bnf146_130_rBnF_lat_14614_f130_r.jpg");
				//getMeta("ol_bnf146_130_rBnF_lat_14614_f130_r.jpg");

				zoomImg('bnf146_130_rBnF_lat_14614_f130_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bnf146_130_r">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bnf146_130_r')" />
		</div>

		<img id="bnf146_130_rBnF_lat_14614_f130_r.jpg" src="images/manuscripts/BnF_lat_14614_f130_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bnf146_130_rBnF_lat_14614_f130_r.jpg" src="images/manuscripts/BnF_lat_14614_f130_r.jpg"  />
		</div>

		</div>

		<div id="tab-content-3bnf146_130_v" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bnf146_130_v');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bnf146_130_vBnF_lat_14614_f130_v.jpg");
				//getMeta("ol_bnf146_130_vBnF_lat_14614_f130_v.jpg");

				zoomImg('bnf146_130_vBnF_lat_14614_f130_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bnf146_130_v">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bnf146_130_v')" />
		</div>

		<img id="bnf146_130_vBnF_lat_14614_f130_v.jpg" src="images/manuscripts/BnF_lat_14614_f130_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bnf146_130_vBnF_lat_14614_f130_v.jpg" src="images/manuscripts/BnF_lat_14614_f130_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_14614">
					<div class="aorFolioSections hcTabLabel" id="tab-list-bnf146_130_r">bnf146_130_r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-bnf146_130_v">bnf146_130_v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-bnf146_130_r" class="hcTabContent">Paris, BnF, lat. 14614, f.130r</figcaption>
					<figcaption id="tab-content-bnf146_130_v" class="hcTabContent">Paris, BnF, lat. 14614, f.130v</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2bnf146_130_r" class="hcTabContent ">
					<span>
					<a href="bnflat14614.html">About the manuscript Paris Paris, BnF, lat. 14614</a><br>
					<a href="https://gallica.bnf.fr/ark:/12148/btv1b6000788f" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2bnf146_130_v" class="hcTabContent ">
					<span>
					<a href="bnflat14614.html">About the manuscript Paris Paris, BnF, lat. 14614</a><br>
					<a href="https://gallica.bnf.fr/ark:/12148/btv1b6000788f" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
