<figure class="aorCompManuscript" id="bnf129_27_v">
	<div id="img_bnf129_27_v" class="aorImgWindow">

		<div id="tab-content-3128" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3128', 1, 0);

				var el = document.getElementById('tab-content-3128');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3128">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3128')" />
		</div>



			<img src="images/manuscripts/BnF_lat_12949_f27_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/BnF_lat_12949_f27_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf129_27_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-128">Close-up</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-128" class="hcTabContent">‘We should not accept this gloss’ - ‘Non est haec glossa a nobis recipienda.’</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2128" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
