<figure class="aorCompManuscript" id="vlf48_95_vc">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="vlf48_95_vc">

		<image href="images/manuscripts/UB_VLF_48_f95_v.jpg" id="tab-content-318" class="hcTabContent " />
			
		<image href="images/manuscripts/UB_VLF_48_f95_v.jpg" id="tab-content-320" class="hcTabContent " />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlf48_95_vc">
					<div class="aorFolioSections hcTabLabel" id="tab-list-18">Close-up</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-20">Close-up</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-18" class="hcTabContent">In the second set of schemes lines connect terms of the propositions and conclusion in order to indicate how the argument is constructed. Visualising the argument in this way helps understand why it is valid.</figcaption>
					<figcaption id="tab-content-20" class="hcTabContent">The scheme is evidence of a reader trying to understand the steps made by Dialectic in reaching this conclusion; the scheme illustrates the reader’s thought process!</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-218" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="VLF48.html">More about the manuscript Leiden VLF 48</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-220" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="VLF48.html">More about the manuscript Leiden VLF 48</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
