<figure class="aorCompManuscript" id="vlf48_95_v">
	<div id="img_vlf48_95_v" class="aorImgWindow">

		<div id="tab-content-319" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-319', 1, 0);

				var el = document.getElementById('tab-content-319');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-319">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-319')" />
		</div>



			<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlf48_95_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-19">Close-up</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-19" class="hcTabContent">For example, using a ‘mixed’ syllogism: ‘Whether the knowledge of discussing is useful. If good discussion is useful, the science of discussing well is useful. But good discussion is useful... Therefore dialectic is useful.’
</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-219" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
