<figure class="aorCompManuscript" id="gal128_3_">
	<div id="img_gal128_3_" class="aorImgWindow">

		<div id="tab-content-3136" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3136', 1, 0);

				var el = document.getElementById('tab-content-3136');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3136">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3136')" />
		</div>



			<img src="images/manuscripts/Gall_SB_Cod_Sang_128_p.3_.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/Gall_SB_Cod_Sang_128_p.3_.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gal128_3_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-136">p.4</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-136" class="hcTabContent">The passage about Marcella</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2136" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
