<figure class="aorCompManuscript" id="12949v2">
	<div id="img_12949v2" class="aorImgWindow">

		<div id="tab-content-312949v2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949v2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949v2.jpg12949v2.jpg");
				//getMeta("ol_12949v2.jpg12949v2.jpg");

				zoomImg('12949v2.jpg12949v2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949v2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949v2.jpg')" />
		</div>

		<img id="12949v2.jpg12949v2.jpg" src="images/content/12949v2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949v2.jpg12949v2.jpg" src="images/content/12949v2.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_12949v2">
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949v2.jpg">BnF lat 12949</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-12949v2.jpg" class="hcTabContent">Paris, BnF, lat. 12949</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-212949v2.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Bibliotheque Nationale de France" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
