<figure class="aorCompManuscript" id="c_12949f23v">
	<div id="img_12949f23v" class="aorImgWindow">

		<div id="tab-content-312949f23v.jpg12949f23v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-312949f23v.jpg12949f23v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("12949f23v.jpg12949f23v.jpg");
				//getMeta("ol_12949f23v.jpg12949f23v.jpg");

				zoomImg('12949f23v.jpg12949f23v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-312949f23v.jpg12949f23v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-312949f23v.jpg12949f23v.jpg')" />
		</div>

		<img id="12949f23v.jpg12949f23v.jpg" src="images/content/12949f23v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_12949f23v.jpg12949f23v.jpg" src="images/content/12949f23v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_12949f23v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-12949f23v.jpg12949f23v.jpg">lat12949f23v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-12949f23v.jpg12949f23v.jpg" class="hcTabContent">Paris, BnF. Lat. 12949, f. 23v (detail)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-212949f23v.jpg12949f23v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
