<figure class="aorCompManuscript" id="bnf129_24_v">
	<div id="img_bnf129_24_v" class="aorImgWindow">

		<div id="tab-content-37" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-37');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("7BnF_lat_12949_f24_v.jpg");
				//getMeta("ol_7BnF_lat_12949_f24_v.jpg");

				zoomImg('7BnF_lat_12949_f24_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-37">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-37')" />
		</div>

		<img id="7BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_7BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-38" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-38');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("8BnF_lat_12949_f24_v.jpg");
				//getMeta("ol_8BnF_lat_12949_f24_v.jpg");

				zoomImg('8BnF_lat_12949_f24_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-38">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-38')" />
		</div>

		<img id="8BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_8BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-39" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-39');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("9BnF_lat_12949_f24_v.jpg");
				//getMeta("ol_9BnF_lat_12949_f24_v.jpg");

				zoomImg('9BnF_lat_12949_f24_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-39">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-39')" />
		</div>

		<img id="9BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_9BnF_lat_12949_f24_v.jpg" src="images/manuscripts/BnF_lat_12949_f24_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf129_24_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-7">Porphyrian Tree</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-8">Nota signs</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-9">Tiemark</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-7" class="hcTabContent">Here you can see how a little ‘Porphyrian tree’ has been added in the inner margin even when there was hardly space</figcaption>
					<figcaption id="tab-content-8" class="hcTabContent">Here you can see how a later reader added large ‘NOTA’ signs as tiemarks, to clear up the puzzle of where to place the gloss.</figcaption>
					<figcaption id="tab-content-9" class="hcTabContent">Here you can see how a first reader went really fancyfull with inventing a new tiemark, and how a later reader drew a line between text and gloss to mark them off a bit more clearly</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-27" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-28" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-29" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
