<figure class="aorCompManuscript" id="c_bpl84_84_v">
	<div id="img_bpl84_84_v" class="aorImgWindow">

		<div id="tab-content-391" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-391');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("91");
				//getMeta("ol_91");

				zoomImg('91');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-391">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-391')" />
		</div>

		<img id="91" src="images/manuscripts/"  />

		<div class="zoomOverlay">
			<img id="ol_91" src="images/manuscripts/"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl84_84_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-91">BPL84f84v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-91" class="hcTabContent">Leiden, UB, BPL 84, f. 84v. <a href="http://link.nl">http://hdl.handle.net/1887.1/item:2348775</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-291" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
