<figure class="aorCompManuscript" id="c_bpl25_12_r">
	<div id="img_bpl25_12_r" class="aorImgWindow">

		<div id="tab-content-325f12r2.jpg25f12r2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f12r2.jpg25f12r2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f12r2.jpg25f12r2.jpg");
				//getMeta("ol_25f12r2.jpg25f12r2.jpg");

				zoomImg('25f12r2.jpg25f12r2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f12r2.jpg25f12r2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f12r2.jpg25f12r2.jpg')" />
		</div>

		<img id="25f12r2.jpg25f12r2.jpg" src="images/content/25f12r2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f12r2.jpg25f12r2.jpg" src="images/content/25f12r2.jpg"  />
		</div>

		</div>

		<div id="tab-content-325f12r3.jpg25f12r3.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f12r3.jpg25f12r3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f12r3.jpg25f12r3.jpg");
				//getMeta("ol_25f12r3.jpg25f12r3.jpg");

				zoomImg('25f12r3.jpg25f12r3.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f12r3.jpg25f12r3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f12r3.jpg25f12r3.jpg')" />
		</div>

		<img id="25f12r3.jpg25f12r3.jpg" src="images/content/25f12r3.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f12r3.jpg25f12r3.jpg" src="images/content/25f12r3.jpg"  />
		</div>

		</div>

		<div id="tab-content-325f12r4.jpg25f12r4.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f12r4.jpg25f12r4.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f12r4.jpg25f12r4.jpg");
				//getMeta("ol_25f12r4.jpg25f12r4.jpg");

				zoomImg('25f12r4.jpg25f12r4.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f12r4.jpg25f12r4.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f12r4.jpg25f12r4.jpg')" />
		</div>

		<img id="25f12r4.jpg25f12r4.jpg" src="images/content/25f12r4.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f12r4.jpg25f12r4.jpg" src="images/content/25f12r4.jpg"  />
		</div>

		</div>

		<div id="tab-content-325f12r5.jpg25f12r5.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-325f12r5.jpg25f12r5.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("25f12r5.jpg25f12r5.jpg");
				//getMeta("ol_25f12r5.jpg25f12r5.jpg");

				zoomImg('25f12r5.jpg25f12r5.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-325f12r5.jpg25f12r5.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-325f12r5.jpg25f12r5.jpg')" />
		</div>

		<img id="25f12r5.jpg25f12r5.jpg" src="images/content/25f12r5.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_25f12r5.jpg25f12r5.jpg" src="images/content/25f12r5.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl25_12_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f12r2.jpg25f12r2.jpg">BPL25f2r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f12r3.jpg25f12r3.jpg">BPL25f2r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f12r4.jpg25f12r4.jpg">BPL25f2r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-25f12r5.jpg25f12r5.jpg">BPL25f2r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-25f12r2.jpg25f12r2.jpg" class="hcTabContent">Leiden, UB, BPL 25, f. 2r: Affirmative and Negative Propositions. In this example, the universal affirmative proposition, ‘all men are just’, is placed at the top left of the square. It’s placed alongside the other universal, but negative, proposition: ‘no men are just.’ At the bottom of the square we find the particular affirmative and particular negative propositions: ‘some men are just’ and ‘some men are not just’</figcaption>
					<figcaption id="tab-content-25f12r3.jpg25f12r3.jpg" class="hcTabContent">Leiden, UB, BPL 25, f. 2r: Contradictory Relationships. The diagonal lines crossing the centre of the diagram (labelled ‘contradictoriae’) connect propositions which are contradictory to each other. For example, if ‘all men are just’ (the universal affirmative proposition) then ‘some men are not just’ (the particular negative proposition) is a contradictory statement. If ‘all men are just’ then the statement ‘some men are not just’ cannot be true. Similarly, reading across the other diagonal, if ‘no men are just’ then the proposition ‘some men are just’ cannot be true.’</figcaption>
					<figcaption id="tab-content-25f12r4.jpg25f12r4.jpg" class="hcTabContent">Leiden, UB, BPL 25, f. 2r: Contradictory Relationships. The placement of the universal affirmative and negative propositions at the top of the square and the particular affirmative and negative propositions at the bottom is also meaningful; these are described as being ‘contrary’ to each other. That is, it is not possible for both of the universal propositions – ‘all men are just’ and ‘all men are not just’ – to be true, although they could be both false. However, while it is possible for both particular propositions – ‘some men are just’ and ‘some men are not just’ – to be true, they cannot both be false.</figcaption>
					<figcaption id="tab-content-25f12r5.jpg25f12r5.jpg" class="hcTabContent">Leiden, UB, BPL 25, f. 2r: Contradictory Relationships. Finally, reading alongside the side of the square, a further relationship between the propositions, that of subalternation, is identified. If the universal affirmative proposition, ‘all men are just’ (placed at the top of the square), is true, then the corresponding particular affirmative proposition, ‘some men are just’ (placed at the bottom of the square), must also be true. Similarly, if the universal negative proposition, ‘no man is just’, then the particular negative proposition, ‘some man is not just’, must also be true.’</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-225f12r2.jpg25f12r2.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-225f12r3.jpg25f12r3.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-225f12r4.jpg25f12r4.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-225f12r5.jpg25f12r5.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
