<figure class="aorCompManuscript" id="c_bnf129_25_vb">
	<div id="img_bnf129_25_vb" class="aorImgWindow">

		<div id="tab-content-3126BnF_lat_12949_f25_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3126BnF_lat_12949_f25_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("126BnF_lat_12949_f25_v.jpg");
				//getMeta("ol_126BnF_lat_12949_f25_v.jpg");

				zoomImg('126BnF_lat_12949_f25_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3126BnF_lat_12949_f25_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3126BnF_lat_12949_f25_v.jpg')" />
		</div>

		<img id="126BnF_lat_12949_f25_v.jpg" src="images/manuscripts/BnF_lat_12949_f25_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_126BnF_lat_12949_f25_v.jpg" src="images/manuscripts/BnF_lat_12949_f25_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf129_25_vb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-126BnF_lat_12949_f25_v.jpg">lat12949f25v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-126BnF_lat_12949_f25_v.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 25v: ‘Heiricus magister Remigii fecit has glossas’. https://gallica.bnf.fr/ark:/12148/btv1b10542356v</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2126BnF_lat_12949_f25_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
