<figure class="aorCompManuscript" id="c_problemata">
	<div id="img_problemata" class="aorImgWindow">

		<div id="tab-content-3problematafull.jpgproblematafull.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3problematafull.jpgproblematafull.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("problematafull.jpgproblematafull.jpg");
				//getMeta("ol_problematafull.jpgproblematafull.jpg");

				zoomImg('problematafull.jpgproblematafull.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3problematafull.jpgproblematafull.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3problematafull.jpgproblematafull.jpg')" />
		</div>

		<img id="problematafull.jpgproblematafull.jpg" src="images/content/problematafull.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_problematafull.jpgproblematafull.jpg" src="images/content/problematafull.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_problemata">
					<div class="aorFolioSections hcTabLabel" id="tab-list-problematafull.jpgproblematafull.jpg">lat14511f17v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-problematafull.jpgproblematafull.jpg" class="hcTabContent">Heloise, Problemata, Paris, BnF, ms. Lat. 14511, St. Victor, late 14th, early 15th c., f. 18r. Photo and copyright: Bibliothèque nationale de France, Paris.<br><a target="_blank" href="https://gallica.bnf.fr/ark:/12148/btv1b9068387d.r=14511?rk=21459;2">https://gallica.bnf.fr/ark:/12148/btv1b9068387d.r=14511?rk=21459;2</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2problematafull.jpgproblematafull.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
