<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_144_f17_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-54">BPL 144 f.17r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-54" class="hcTabContent">Edge of the page</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
			<figcaption >
				<span>
				Leiden UB BPL 144 f.17r<br>
				<a href="">More about the manuscript BPL 144</a><br>
				<a href="https://digitalcollections.universiteitleiden.nl/view/item/2357067" target="_blank">Source</a>
				</span>
			</figcaption>
		</div>

	</div>


</figure>
