<figure class="aorCompManuscript" id="bnf129_1_r">
	<div id="img_bnf129_1_r" class="aorImgWindow">

		<div id="tab-content-34" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-34', 1, 0);

				var el = document.getElementById('tab-content-34');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-34">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-34')" />
		</div>



			<img src="images/manuscripts/BnF_lat_12949_f1_r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/BnF_lat_12949_f1_r.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf129_1_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-4">Opening Periermenias</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-4" class="hcTabContent">Paris, BnF, lat. 12949 f.1r</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-24" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
