<figure class="aorCompManuscript">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/UB_BPL_84_f14_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab">
					<div class="aorFolioSections hcTabLabel" id="tab-list-86"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-86" class="hcTabContent">f. 14r: ‘Retro in fine libri tercium topicorum ciceronis’: ‘Back in the end of the third book of Cicero’s Topics’</figcaption>
			</div>

		</div>




	</div>


</figure>
