<figure class="aorCompManuscript" id="bpl84_89_v">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="bpl84_89_v">

		<image href="images/manuscripts/UB_BPL_84_f89_v.jpg" />
			
		<image href="images/manuscripts/UB_BPL_84_f89_v.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl84_89_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-41">BPL 84 f.89v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-42">BPL 84 f.89v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-41" class="hcTabContent">Here the scheme offers three examples of simple propositions which share one term (either subject or predicate) ‘homo animal est. animal substantia est.’ [Man is an animal; an animal is a substance’] ‘homo grammaticus est. homo musicus est.’ [Man is a grammarian; man is a musician’] ‘homo animal est. equus animal est.’ [Man is an animal. A horse is an animal]</figcaption>
					<figcaption id="tab-content-42" class="hcTabContent">Here the scheme represents Boethius’ account of ‘conversion by opposition’ (‘contraposition’) The second set of propositions: ‘Omnis non homo animal est. Omne animal non homo est.’ (’All non-man is an animal; all animals are not man’) shows how switching the order of the subject and predicate of the sentence generates a new proposition.
</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-241" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL84.html">More about the manuscript Leiden BPL 84</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-242" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL84.html">More about the manuscript Leiden BPL 84</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
