<figure class="aorCompManuscript" id="c_bnf129_24_rb">
	<div id="img_bnf129_24_rb" class="aorImgWindow">

		<div id="tab-content-3125BnF_lat_12949_f24_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3125BnF_lat_12949_f24_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("125BnF_lat_12949_f24_r.jpg");
				//getMeta("ol_125BnF_lat_12949_f24_r.jpg");

				zoomImg('125BnF_lat_12949_f24_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3125BnF_lat_12949_f24_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3125BnF_lat_12949_f24_r.jpg')" />
		</div>

		<img id="125BnF_lat_12949_f24_r.jpg" src="images/manuscripts/BnF_lat_12949_f24_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_125BnF_lat_12949_f24_r.jpg" src="images/manuscripts/BnF_lat_12949_f24_r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf129_24_rb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-125BnF_lat_12949_f24_r.jpg">lat12949f24r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-125BnF_lat_12949_f24_r.jpg" class="hcTabContent">Paris, BnF, lat. 12949, f. 24r. <a href="http://link.nl">https://gallica.bnf.fr/ark:/12148/btv1b10542356v</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2125BnF_lat_12949_f24_r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
