<figure class="aorCompManuscript" id="bpl25_1_v">
	<div id="img_bpl25_1_v" class="aorImgWindow">

		<div id="tab-content-330" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-330');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("30UB_BPL_25_1_v.jpg");
				//getMeta("ol_30UB_BPL_25_1_v.jpg");

				zoomImg('30UB_BPL_25_1_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-330">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-330')" />
		</div>

		<img id="30UB_BPL_25_1_v.jpg" src="images/manuscripts/UB_BPL_25_1_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_30UB_BPL_25_1_v.jpg" src="images/manuscripts/UB_BPL_25_1_v.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl25_1_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-30"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-30" class="hcTabContent">In close-up, the dirt and wear and tear on the page are even more visible. We can also see that a later hand wrote the title of the work on the top of the page: ‘Aristotelis liber i peri er[meneias] a boecio comentatus expositusque’ (see green box) (The first book of Aritotle’s Peri hermeneias, commented upon and expounded by Boethius). In the red box you can see the Greek title of Aristotle’s work, Peri Hermeneias. It is written in Greek capitals. A line over the words emphasizes the fact that it is Greek.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-230" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
