<figure class="aorCompManuscript" id="c_bpl84_64_v">
	<div id="img_bpl84_64_v" class="aorImgWindow">

		<div id="tab-content-389UB_BPL_84_f64_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-389UB_BPL_84_f64_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("89UB_BPL_84_f64_v.jpg");
				//getMeta("ol_89UB_BPL_84_f64_v.jpg");

				zoomImg('89UB_BPL_84_f64_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-389UB_BPL_84_f64_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-389UB_BPL_84_f64_v.jpg')" />
		</div>

		<img id="89UB_BPL_84_f64_v.jpg" src="images/manuscripts/UB_BPL_84_f64_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_89UB_BPL_84_f64_v.jpg" src="images/manuscripts/UB_BPL_84_f64_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl84_64_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-89UB_BPL_84_f64_v.jpg">BPL84f64v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-89UB_BPL_84_f64_v.jpg" class="hcTabContent">Leiden, UB, BPL 84, f. 64v: Initial ‘Q’. <a href="http://link.nl">http://hdl.handle.net/1887.1/item:2348775</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-289UB_BPL_84_f64_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
