<figure class="aorCompManuscript" id="c_ein_52_a_b">
	<div id="img_ein_52_a_b" class="aorImgWindow">

		<div id="tab-content-3ein315_52_bEinsieldeln_315 (605)_p52_b.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3ein315_52_bEinsieldeln_315 (605)_p52_b.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("ein315_52_bEinsieldeln_315 (605)_p52_b.jpg");
				//getMeta("ol_ein315_52_bEinsieldeln_315 (605)_p52_b.jpg");

				zoomImg('ein315_52_bEinsieldeln_315 (605)_p52_b.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3ein315_52_bEinsieldeln_315 (605)_p52_b.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3ein315_52_bEinsieldeln_315 (605)_p52_b.jpg')" />
		</div>

		<img id="ein315_52_bEinsieldeln_315 (605)_p52_b.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p52_b.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_ein315_52_bEinsieldeln_315 (605)_p52_b.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p52_b.jpg"  />
		</div>

		</div>

		<div id="tab-content-3ein315_52_aEinsieldeln_315 (605)_p52_a.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3ein315_52_aEinsieldeln_315 (605)_p52_a.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("ein315_52_aEinsieldeln_315 (605)_p52_a.jpg");
				//getMeta("ol_ein315_52_aEinsieldeln_315 (605)_p52_a.jpg");

				zoomImg('ein315_52_aEinsieldeln_315 (605)_p52_a.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3ein315_52_aEinsieldeln_315 (605)_p52_a.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3ein315_52_aEinsieldeln_315 (605)_p52_a.jpg')" />
		</div>

		<img id="ein315_52_aEinsieldeln_315 (605)_p52_a.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p52_a.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_ein315_52_aEinsieldeln_315 (605)_p52_a.jpg" src="images/manuscripts/Einsieldeln_315 (605)_p52_a.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_ein_52_a_b">
					<div class="aorFolioSections hcTabLabel" id="tab-list-ein315_52_bEinsieldeln_315 (605)_p52_b.jpg">ein315_52_b</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-ein315_52_aEinsieldeln_315 (605)_p52_a.jpg">ein315_52_a</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-ein315_52_bEinsieldeln_315 (605)_p52_b.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315 (605), p. 52b</figcaption>
					<figcaption id="tab-content-ein315_52_aEinsieldeln_315 (605)_p52_a.jpg" class="hcTabContent">Einsiedeln, Stiftsbibliothek, Codex 315 (605), p. 52a</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2ein315_52_bEinsieldeln_315 (605)_p52_b.jpg" class="hcTabContent ">
				</figcaption>
				<figcaption id="tab-content-2ein315_52_aEinsieldeln_315 (605)_p52_a.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
