<figure class="aorCompManuscript" id="c_val404_cover_">
	<div id="img_val404_cover_" class="aorImgWindow">

		<div id="tab-content-3Valenciennes_BM_404_cover_.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3Valenciennes_BM_404_cover_.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("Valenciennes_BM_404_cover_.jpg");
				//getMeta("ol_Valenciennes_BM_404_cover_.jpg");

				zoomImg('Valenciennes_BM_404_cover_.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3Valenciennes_BM_404_cover_.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3Valenciennes_BM_404_cover_.jpg')" />
		</div>

		<img id="Valenciennes_BM_404_cover_.jpg" src="images/manuscripts/Valenciennes_BM_404_cover_.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_Valenciennes_BM_404_cover_.jpg" src="images/manuscripts/Valenciennes_BM_404_cover_.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_val404_cover_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-Valenciennes_BM_404_cover_.jpg">404undefined</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-Valenciennes_BM_404_cover_.jpg" class="hcTabContent">Valenciennes, BM, Ms. 404, 219 × 148 mm.  <a target="_blank" href="https://gallica.bnf.fr/ark:/12148/btv1b8452582n">https://gallica.bnf.fr/ark:/12148/btv1b8452582n</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2Valenciennes_BM_404_cover_.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
