<figure class="aorCompManuscript" id="bpl84_32_v">
	<div id="img_bpl84_32_v" class="aorImgWindow">

		<div id="tab-content-382" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-382', 1, 0);

				var el = document.getElementById('tab-content-382');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-382">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-382')" />
		</div>



			<img src="images/manuscripts/UB_BPL_84_f32_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_BPL_84_f32_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl84_32_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-82"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-82" class="hcTabContent">An example of numbers (‘ii’), from f. 32v</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-282" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
