<figure class="aorCompManuscript" id="11127_93_r_93_r_fr_94_r">
	<div id="img_11127_93_r_93_r_fr_94_r" class="aorImgWindow">

		<div id="tab-content-311127f93r.jpg" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-311127f93r.jpg', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-311127f93r.jpg')">+</button>
			</div>

			<img src="images/content/11127f93r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-311127f93rfr.jpg" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-311127f93rfr.jpg', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-311127f93rfr.jpg')">+</button>
			</div>

			<img src="images/content/11127f93rfr.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

		<div id="tab-content-311127f94r.jpg" class="hcTabContent ">
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function(){
	    		zoomImg('tab-content-311127f94r.jpg', 1, 0);
				});

			</script>
			<div class="aorZoom">
				 <button type="button" name="button" onclick="viewfc('tab-content-311127f94r.jpg')">+</button>
			</div>

			<img src="images/content/11127f94r.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_11127_93_r_93_r_fr_94_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f93r.jpg">Paris, BnF, lat. 11127 f.93r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f93rfr.jpg">Paris, BnF, lat. 11127 f.93r</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-11127f94r.jpg">Paris, BnF, lat. 11127 f.94r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-11127f93r.jpg" class="hcTabContent">f.93r</figcaption>
					<figcaption id="tab-content-11127f93rfr.jpg" class="hcTabContent">f.93r</figcaption>
					<figcaption id="tab-content-11127f94r.jpg" class="hcTabContent">f.94r</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-211127f93r.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="eigen foto" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f93rfr.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="eigen foto" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-211127f94r.jpg" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href=".html">More about the manuscript  </a><br>
					<a href="eigen foto" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
