<figure class="aorCompManuscript" id="c_bpl144_66_v">
	<div id="img_bpl144_66_v" class="aorImgWindow">

		<div id="tab-content-3107UB_BPL_144_f66_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3107UB_BPL_144_f66_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("107UB_BPL_144_f66_v.jpg");
				//getMeta("ol_107UB_BPL_144_f66_v.jpg");

				zoomImg('107UB_BPL_144_f66_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3107UB_BPL_144_f66_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3107UB_BPL_144_f66_v.jpg')" />
		</div>

		<img id="107UB_BPL_144_f66_v.jpg" src="images/manuscripts/UB_BPL_144_f66_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_107UB_BPL_144_f66_v.jpg" src="images/manuscripts/UB_BPL_144_f66_v.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144_66_v">
					<div class="aorFolioSections hcTabLabel" id="tab-list-107UB_BPL_144_f66_v.jpg">BPL144f66v</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-107UB_BPL_144_f66_v.jpg" class="hcTabContent">Leiden, UB, BPL 144, f. 66v. http://hdl.handle.net/1887.1/item:2356986</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2107UB_BPL_144_f66_v.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
