<figure class="aorCompManuscript" id="ein29_165_">
	<div id="img_ein29_165_" class="aorImgWindow">

		<div id="tab-content-3" class="hcTabContent ">
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3', 1, 0);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3')" />
		</div>



			<img src="images/manuscripts/Einsieldeln_29 (878)_p165.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_ein29_165_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">165undefined</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">Manuscripts were often ruled with a knife; here we can see on p. 165 that the blade has cut through the parchment while ruling the edge of the text block.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="GRO22.html">More about the manuscript Leiden UB, GRO 22</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
