<figure class="aorCompManuscript" id="psalter">
	<div id="img_psalter" class="aorImgWindow">

		<div id="tab-content-3psalter.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3psalter.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("psalter.jpgpsalter.jpg");
				//getMeta("ol_psalter.jpgpsalter.jpg");

				zoomImg('psalter.jpgpsalter.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3psalter.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3psalter.jpg')" />
		</div>

		<img id="psalter.jpgpsalter.jpg" src="images/content/psalter.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_psalter.jpgpsalter.jpg" src="images/content/psalter.jpg"  />
		</div>

		</div>

		<div id="tab-content-3psalter2.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3psalter2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("psalter2.jpgpsalter2.jpg");
				//getMeta("ol_psalter2.jpgpsalter2.jpg");

				zoomImg('psalter2.jpgpsalter2.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3psalter2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3psalter2.jpg')" />
		</div>

		<img id="psalter2.jpgpsalter2.jpg" src="images/content/psalter2.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_psalter2.jpgpsalter2.jpg" src="images/content/psalter2.jpg"  />
		</div>

		</div>

		<div id="tab-content-3psalter3.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3psalter3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("psalter3.jpgpsalter3.jpg");
				//getMeta("ol_psalter3.jpgpsalter3.jpg");

				zoomImg('psalter3.jpgpsalter3.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3psalter3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3psalter3.jpg')" />
		</div>

		<img id="psalter3.jpgpsalter3.jpg" src="images/content/psalter3.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_psalter3.jpgpsalter3.jpg" src="images/content/psalter3.jpg"  />
		</div>

		</div>

		<div id="tab-content-3psalter4.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3psalter4.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("psalter4.jpgpsalter4.jpg");
				//getMeta("ol_psalter4.jpgpsalter4.jpg");

				zoomImg('psalter4.jpgpsalter4.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3psalter4.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3psalter4.jpg')" />
		</div>

		<img id="psalter4.jpgpsalter4.jpg" src="images/content/psalter4.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_psalter4.jpgpsalter4.jpg" src="images/content/psalter4.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_psalter">
					<div class="aorFolioSections hcTabLabel" id="tab-list-psalter.jpg">Utrecht Psalter, c. 820, Utrecht UL, Ms 32, f. 90v Council of Frankfurt 794 (?)</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-psalter2.jpg">Utrecht Psalter, c. 820, Utrecht UL, Ms 32, f. 90v Council of Frankfurt 794 (?)</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-psalter3.jpg">Utrecht Psalter, c. 820, Utrecht UL, Ms 32, f. 90v Council of Frankfurt 794 (?)</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-psalter4.jpg">Utrecht Psalter, c. 820, Utrecht UL, Ms 32, f. 90v Council of Frankfurt 794 (?)</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-psalter.jpg" class="hcTabContent">Utrecht, UB, Ms. 32 (Utrecht Psalter, c. 820), f. 90v: Council of Frankfurt 794 (?)</figcaption>
					<figcaption id="tab-content-psalter2.jpg" class="hcTabContent">Utrecht, UB, Ms. 32 (Utrecht Psalter, c. 820), f. 90v: Notaries are making notes of the discussions</figcaption>
					<figcaption id="tab-content-psalter3.jpg" class="hcTabContent">Utrecht, UB, Ms. 32 (Utrecht Psalter, c. 820), f. 90v: The notary in the middle of the arena seems to be agitated. Is he reading from a scroll?</figcaption>
					<figcaption id="tab-content-psalter4.jpg" class="hcTabContent">Utrecht, UB, Ms. 32 (Utrecht Psalter, c. 820), f. 90v: Bishops in the audience are discussing amongst themselves and are consulting texts.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2psalter.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Utrecht UB" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2psalter2.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Utrecht UB" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2psalter3.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Utrecht UB" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2psalter4.jpg" class="hcTabContent ">
					<span>
					<a href=".html">About the manuscript  </a><br>
					<a href="Utrecht UB" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
