<figure class="aorCompManuscript" id="c_bpl84_44_v_8_r">
	<div id="img_bpl84_44_v_8_r" class="aorImgWindow">

		<div id="tab-content-3bpl84_44_vUB_BPL_84_f44_v.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bpl84_44_vUB_BPL_84_f44_v.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bpl84_44_vUB_BPL_84_f44_v.jpg");
				//getMeta("ol_bpl84_44_vUB_BPL_84_f44_v.jpg");

				zoomImg('bpl84_44_vUB_BPL_84_f44_v.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bpl84_44_vUB_BPL_84_f44_v.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bpl84_44_vUB_BPL_84_f44_v.jpg')" />
		</div>

		<img id="bpl84_44_vUB_BPL_84_f44_v.jpg" src="images/manuscripts/UB_BPL_84_f44_v.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bpl84_44_vUB_BPL_84_f44_v.jpg" src="images/manuscripts/UB_BPL_84_f44_v.jpg"  />
		</div>

		</div>

		<div id="tab-content-3bpl84_8_rUB_BPL_84_f8_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3bpl84_8_rUB_BPL_84_f8_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("bpl84_8_rUB_BPL_84_f8_r.jpg");
				//getMeta("ol_bpl84_8_rUB_BPL_84_f8_r.jpg");

				zoomImg('bpl84_8_rUB_BPL_84_f8_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3bpl84_8_rUB_BPL_84_f8_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3bpl84_8_rUB_BPL_84_f8_r.jpg')" />
		</div>

		<img id="bpl84_8_rUB_BPL_84_f8_r.jpg" src="images/manuscripts/UB_BPL_84_f8_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_bpl84_8_rUB_BPL_84_f8_r.jpg" src="images/manuscripts/UB_BPL_84_f8_r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl84_44_v_8_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-bpl84_44_vUB_BPL_84_f44_v.jpg">bpl84_44_v</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-bpl84_8_rUB_BPL_84_f8_r.jpg">bpl84_8_r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-bpl84_44_vUB_BPL_84_f44_v.jpg" class="hcTabContent">Leiden, UB, BPL 84, f. 44v: two sets of rubrics (written in red) indicate that one text has ended and that another will begin on the next page</figcaption>
					<figcaption id="tab-content-bpl84_8_rUB_BPL_84_f8_r.jpg" class="hcTabContent">Leiden, UB, BPL 84, f. 8r: a decorated initial is used for the first word of a new text</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2bpl84_44_vUB_BPL_84_f44_v.jpg" class="hcTabContent ">
					<span>
					<a href="BPL84.html">About the manuscript Leiden Leiden, UB, BPL 84</a><br>
					<a href="http://hdl.handle.net/1887.1/item:2348775" target="_blank">Source</a>
					</span>
				</figcaption>
				<figcaption id="tab-content-2bpl84_8_rUB_BPL_84_f8_r.jpg" class="hcTabContent ">
					<span>
					<a href="BPL84.html">About the manuscript Leiden Leiden, UB, BPL 84</a><br>
					<a href="http://hdl.handle.net/1887.1/item:2348775" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
