<figure class="aorCompManuscript" id="c_103_71_r_71_r_fr">
	<div id="img_103_71_r_71_r_fr" class="aorImgWindow">

		<div id="tab-content-3103f71rfr.jpg103f71rfr.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3103f71rfr.jpg103f71rfr.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("103f71rfr.jpg103f71rfr.jpg");
				//getMeta("ol_103f71rfr.jpg103f71rfr.jpg");

				zoomImg('103f71rfr.jpg103f71rfr.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3103f71rfr.jpg103f71rfr.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3103f71rfr.jpg103f71rfr.jpg')" />
		</div>

		<img id="103f71rfr.jpg103f71rfr.jpg" src="images/content/103f71rfr.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_103f71rfr.jpg103f71rfr.jpg" src="images/content/103f71rfr.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_103_71_r_71_r_fr">
					<div class="aorFolioSections hcTabLabel" id="tab-list-103f71rfr.jpg103f71rfr.jpg">VLQ103f71r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-103f71rfr.jpg103f71rfr.jpg" class="hcTabContent">Leiden, UB, VLQ 103, f. 71r (photo MT)</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2103f71rfr.jpg103f71rfr.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
