<figure class="aorCompManuscript" id="bpl144_58_rb">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="bpl144_58_rb">

		<image href="images/manuscripts/UB_BPL_144_f58_r.jpg" id="tab-content-355" class="hcTabContent " />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144_58_rb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-55">Damaged page</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-55" class="hcTabContent">You can see that the material was already damaged when the scribe was copying the commentary into the margins: he/she deals with the damages parchment and the hole in it.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-255" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="BPL144.html">More about the manuscript Leiden BPL 144</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
