<figure class="aorCompManuscript" id="bnf790_133_rb">
	<div id="img_bnf790_133_rb" class="aorImgWindow">

		<div id="tab-content-3" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("BnF_lat_7900A_133_r.jpg");
				//getMeta("ol_BnF_lat_7900A_133_r.jpg");

				zoomImg('BnF_lat_7900A_133_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3')" />
		</div>

		<img id="BnF_lat_7900A_133_r.jpg" src="images/manuscripts/BnF_lat_7900A_133_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_BnF_lat_7900A_133_r.jpg" src="images/manuscripts/BnF_lat_7900A_133_r.jpg"  />
		</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf790_133_rb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">133r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">Paris, BnF, lat. 7900A, f.133r: The opening of Martianus’ chapter on dialectic, with Remigius&#x27; commentary (on the right)</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
