<figure class="aorCompManuscript" id="c_gro22_23_r">
	<div id="img_gro22_23_r" class="aorImgWindow">

		<div id="tab-content-3134UB_GRO_22_f23_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3134UB_GRO_22_f23_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("134UB_GRO_22_f23_r.jpg");
				//getMeta("ol_134UB_GRO_22_f23_r.jpg");

				zoomImg('134UB_GRO_22_f23_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3134UB_GRO_22_f23_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3134UB_GRO_22_f23_r.jpg')" />
		</div>

		<img id="134UB_GRO_22_f23_r.jpg" src="images/manuscripts/UB_GRO_22_f23_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_134UB_GRO_22_f23_r.jpg" src="images/manuscripts/UB_GRO_22_f23_r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_gro22_23_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-134UB_GRO_22_f23_r.jpg">GRO22f23r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-134UB_GRO_22_f23_r.jpg" class="hcTabContent">Leiden, UB, GRO 22, f. 23r. http://hdl.handle.net/1887.1/item:1668135</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2134UB_GRO_22_f23_r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
