<figure>


	<svg id="vlf48_30_v" class="aorCompManuscript" preserveAspectRatio="xMinYMin meet" viewBox="0 0  ">
		<image href="images/manuscripts/Burney_275_f184_r.jpg" />
	</svg>


	<div class="aorFolios">
		<div class="aorFolioSections hcTabLabel" id="tab-list-ii">Manuscript info</div>
	</div>


	<figcaption id="tab-content-ii" class="hcTabContent">
		<span>
		Burney 275 f.184r Syllogism<br>
		<strong>About the manuscript</strong><br>
		London Burney 275<br>
		<a href="t.html">More about the manuscript Burney 275</a><br>
		<a href="http://www.bl.uk/manuscripts/Viewer.aspx?ref&#x3D;burney_ms_275_f184r" target="_blank">Source</a>
		</span>
	</figcaption>

</figure>
