<figure class="aorCompManuscript" id="c_bnf178_69_r">
	<div id="img_bnf178_69_r" class="aorImgWindow">

		<div id="tab-content-3BnF_lat_17806_f69_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3BnF_lat_17806_f69_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("BnF_lat_17806_f69_r.jpg");
				//getMeta("ol_BnF_lat_17806_f69_r.jpg");

				zoomImg('BnF_lat_17806_f69_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3BnF_lat_17806_f69_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3BnF_lat_17806_f69_r.jpg')" />
		</div>

		<img id="BnF_lat_17806_f69_r.jpg" src="images/manuscripts/BnF_lat_17806_f69_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_BnF_lat_17806_f69_r.jpg" src="images/manuscripts/BnF_lat_17806_f69_r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bnf178_69_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-BnF_lat_17806_f69_r.jpg">69r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-BnF_lat_17806_f69_r.jpg" class="hcTabContent">Paris, BnF, lat. 17806, f. 69r: a column for commentary on the left of the tekst, and two columns on the right. The lower margin is also typically large to house large amounts of notes and comments </figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">

				<figcaption id="tab-content-2BnF_lat_17806_f69_r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
