<figure class="aorCompManuscript" id="c_vat1_Pagès1f3_">
	<div id="img_vat1_Pagès1f3_" class="aorImgWindow">

		<div id="tab-content-3Vatican_Pagès_1_3.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3Vatican_Pagès_1_3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("Vatican_Pagès_1_3.jpg");
				//getMeta("ol_Vatican_Pagès_1_3.jpg");

				zoomImg('Vatican_Pagès_1_3.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3Vatican_Pagès_1_3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3Vatican_Pagès_1_3.jpg')" />
		</div>

		<img id="Vatican_Pagès_1_3.jpg" src="images/manuscripts/Vatican_Pagès_1_3.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_Vatican_Pagès_1_3.jpg" src="images/manuscripts/Vatican_Pagès_1_3.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vat1_Pagès1f3_">
					<div class="aorFolioSections hcTabLabel" id="tab-list-Vatican_Pagès_1_3.jpg">Pagès1f3</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-Vatican_Pagès_1_3.jpg" class="hcTabContent">Vatican City, BAV, Pagès 1</figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2Vatican_Pagès_1_3.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
