<figure class="aorCompManuscript" id="chartres">
	<div id="img_chartres" class="aorImgWindow">

		<div id="tab-content-3chartres.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3chartres.jpg', 1, 0);

				var el = document.getElementById('tab-content-3chartres.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3chartres.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3chartres.jpg')" />
		</div>



			<img src="images/content/chartres.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/chartres.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

		<div id="tab-content-3chartres2.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3chartres2.jpg', 1, 0);

				var el = document.getElementById('tab-content-3chartres2.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3chartres2.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3chartres2.jpg')" />
		</div>



			<img src="images/content/chartres2.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/chartres2.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

		<div id="tab-content-3chartres3.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3chartres3.jpg', 1, 0);

				var el = document.getElementById('tab-content-3chartres3.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3chartres3.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3chartres3.jpg')" />
		</div>



			<img src="images/content/chartres3.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/chartres3.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

		<div id="tab-content-3chartres4.jpg" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3chartres4.jpg', 1, 0);

				var el = document.getElementById('tab-content-3chartres4.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3chartres4.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3chartres4.jpg')" />
		</div>



			<img src="images/content/chartres4.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/content/chartres4.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_chartres">
					<div class="aorFolioSections hcTabLabel" id="tab-list-chartres.jpg"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-chartres2.jpg"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-chartres3.jpg"></div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-chartres4.jpg"></div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-chartres.jpg" class="hcTabContent">West door, Cathedral of Chartres, c. 1150. The throne of wisdom, framed by the liberal arts. The complex iconographical program is believed to have been designed by the scholar Thierry of Chartres, chancellor of the cathedral school from 1141 to c. 1155. Famous twelfth-century scholars such as William of Conches, John of Salisbury and Gilbert of Poitiers studied in Chartres.</figcaption>
					<figcaption id="tab-content-chartres2.jpg" class="hcTabContent">Below each art is a famous practictioner. Dialectica is seated above (or supported by) Aristotle</figcaption>
					<figcaption id="tab-content-chartres3.jpg" class="hcTabContent">Aristotle is depicted as the architect of thought</figcaption>
					<figcaption id="tab-content-chartres4.jpg" class="hcTabContent">Dialectica from close up. the creature she is holding is according to some scholars a serpent, according to others a scorpion</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2chartres.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2chartres2.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2chartres3.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2chartres4.jpg" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
