<figure class="aorCompManuscript" id="vlf48_95_vb">
	<div id="img_vlf48_95_vb" class="aorImgWindow">

		<div id="tab-content-3104" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3104', 1, 0);

				var el = document.getElementById('tab-content-3104');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3104">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3104')" />
		</div>



			<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

		<div id="tab-content-3105" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3105', 1, 0);

				var el = document.getElementById('tab-content-3105');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3105">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3105')" />
		</div>



			<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

		<div id="tab-content-3106" class="hcTabContent " onmousemove='zoom(event)'>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				zoomImg('tab-content-3106', 1, 0);

				var el = document.getElementById('tab-content-3106');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);
			});

		</script>
		<div class="aorZoom" id="zoom-tab-content-3106">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3106')" />
		</div>



			<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
			<img src="images/svg-layers/"  onerror="this.style.display='none'">

			<div class="zoomOverlay">
				<img src="images/manuscripts/UB_VLF_48_f95_v.jpg"  />
				<img src="images/svg-layers/"  onerror="this.style.display='none'">
			</div>

		</div>

	</div>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_vlf48_95_vb">
					<div class="aorFolioSections hcTabLabel" id="tab-list-104">Musical pitches</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-105">Syllogisms</div>
					<div class="aorFolioSections hcTabLabel" id="tab-list-106">Rather</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-104" class="hcTabContent">The other scribe added a note on musical pitches, and two sets of schemes regarding syllogistic propositions.</figcaption>
					<figcaption id="tab-content-105" class="hcTabContent">A line separates the sets of examples of syllogisms.</figcaption>
					<figcaption id="tab-content-106" class="hcTabContent">We know who one of these scribes was – Rather of Verona (890-974) added a copy of a letter at the base of the page.</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2104" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2105" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
				<figcaption id="tab-content-2106" class="hcTabContent ">
					<span>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
