<figure class="aorCompManuscript" id="bur275_336_r">
	<svg id="vlf48_30_v" preserveAspectRatio="xMinYMin meet" viewBox="0 0  " class="bur275_336_r">

		<image href="images/manuscripts/Burney_275_f336_r.jpg" />
			
	</svg>




	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bur275_336_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-">336r</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-" class="hcTabContent">f.336r Opening of Boethius&#x27; Arithmetica</figcaption>
			</div>

		</div>





		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2" class="hcTabContent ">
					<span>
					<strong>About the manuscript</strong><br>
					<a href="Burney275.html">More about the manuscript London Burney 275</a><br>
					<a href="" target="_blank">Source</a>
					</span>
				</figcaption>
		</div>


	</div>


</figure>
