<figure class="aorCompManuscript" id="c_bpl144_58_r">
	<div id="img_bpl144_58_r" class="aorImgWindow">

		<div id="tab-content-3UB_BPL_144_f58_r.jpg" class="hcTabContent " onmousemove='zoom(event)'>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(){
				var el = document.getElementById('tab-content-3UB_BPL_144_f58_r.jpg');
				el.setAttribute('data-h', el.offsetHeight);
				el.setAttribute('data-w', el.offsetWidth);

				getMeta("UB_BPL_144_f58_r.jpg");
				//getMeta("ol_UB_BPL_144_f58_r.jpg");

				zoomImg('UB_BPL_144_f58_r.jpg');
			});
		</script>


		<div class="aorZoom" id="zoom-tab-content-3UB_BPL_144_f58_r.jpg">
			<input type="image" src="images/icons/fullscreen.png"  onclick="viewfc('tab-content-3UB_BPL_144_f58_r.jpg')" />
		</div>

		<img id="UB_BPL_144_f58_r.jpg" src="images/manuscripts/UB_BPL_144_f58_r.jpg"  />

		<div class="zoomOverlay">
			<img id="ol_UB_BPL_144_f58_r.jpg" src="images/manuscripts/UB_BPL_144_f58_r.jpg"  />
		</div>

		</div>

	</div>



	<div class="aorFilioInfo">
		<div class="aorFolioToggles">
			<div class="aorFoliosTab" id="f_bpl144_58_r">
					<div class="aorFolioSections hcTabLabel" id="tab-list-UB_BPL_144_f58_r.jpg">BPL144f58</div>
			</div>
			<div class="aorFoliosCaption">
					<figcaption id="tab-content-UB_BPL_144_f58_r.jpg" class="hcTabContent">Leiden, UB, BPL 144, ff. 57v-58r.  <a target="_blank" href="http://hdl.handle.net/1887.1/item:2356986">http://hdl.handle.net/1887.1/item:2356986</a></figcaption>
			</div>

		</div>




		<div class="aorFoliosManuscript">
				<figcaption id="tab-content-2UB_BPL_144_f58_r.jpg" class="hcTabContent ">
				</figcaption>

		</div>


	</div>


</figure>
