.aorHomeHero {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  height: 100%;
  min-height: 75vh;

  .aorHomeHeroLogo {
    text-align: center;
    max-width: 650px;
    margin-bottom: 1rem;

    .logoLines1 {
      height: auto;
      width: 300px;
      max-width: 100%;
    }
    .logoLines2 {
      height: auto;
      width: 330px;
      max-width: 100%;
    }


    .logoIcon{
      height: 50px;
      width: auto;
      margin-top: 2rem;
    }
  }
}

.aorMidwrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #{$manuscriptBegeDark};
}
.aorHomeHeroText {
  width: 50%;
}

.aorHomeSplit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 650px;
  width:auto;
}
.aorHomeTrailer img{
  width: 200px;
  height: auto;
  margin-left: 2rem;
  border-radius: 5px;

}

.aorPartners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  padding-top: 1rem;

  >* {
    margin-right: 1rem;
    line-height: 100%;
  }

  img {
    height: 50px;
    width: auto;
    opacity: .7;
  }

}

@media (min-width: 500px) {
  .aorHomeHero {
    min-height: 75vh;
    .aorHomeHeroLogo, .aorHomeHeroText {
      .logoLines1 {
        width: 557px;
      }
      .logoLines2 {
        width: 623px;
      }


      .logoIcon{
        height: 80px;
        margin-top: 1rem;
      }
    }
  }

  .aorHomeSplit{
    display: flex;
    flex-direction: row;
  }
}



.aorHomeHero .aoTopnav {
  //align-self: flex-start;

  width: 100%;
}



.aorHomeThemes {
  padding: 6rem #{$margin};
}

.aorHomeOpenManuscript {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 100%;
    max-width: 800px;
    height: auto;
    transform: rotate(5deg);
  }

  svg:hover{
    cursor: pointer;
  }
}

.aorHomeThemesIntro{
  text-align: center;
  padding: 2rem 0;
}
.aorHome3Themes {
  display: flex;
  flex-direction: column;
  h3 {
    border-bottom: 2px solid #{$aorBlue};
    padding-bottom: .5rem;
    margin-bottom: 0rem;

  }

  >* {
    width: 100%;
  }
}

.aorThemeHighlight h3{
  border-bottom: 2px solid #{$darkBG}
}

@media (min-width: 1000px) {
  .aorHome3Themes {
    flex-direction: row;

    >* {
      width: calc(33% - #{$margin});
      margin-right: $margin;
    }
  }
}


.aorHomeManuscripts {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aorHomeManuscriptsIntro {
  text-align: center;
  padding: 2rem 0;
  max-width: 700px;
}
.aorHomeManuscriptsFeaturedList{
  display: flex;
  flex-direction: column;
  >* {
    width: 100%;
  }
}

$cardMargin: 1px;
@media (min-width: 1000px) {
  .aorHomeManuscriptsFeaturedList {
    flex-direction: row;

    >* {
      width: calc(33% - #{$cardMargin});
      margin-right: $cardMargin;
    }
  }
}

.aorHomeManuscriptsAllLink {
  background-color: $aorBlue;
  padding: 3rem #{$margin};
  color: $darkBG;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;

  a{
    color: $darkBG;
  }
}
