$nootSize: 25px;
$nootColor: rgb(184, 75, 176);

.aorNote {
	display:inline-block;
	//background-color: #fff;
	border: 1px solid $manuscriptBegeDark;

	width: $nootSize;
	height: $nootSize;
	font-size: .8rem;
	border-radius: 50%;
	cursor: pointer;
	transform: translate(0,-3px);

}


.aorNote span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aorNote a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: $aorLink;
	width: 100%;
	height: 100%;
	text-align: center;
	//transform: translate(-0px,-2px);
}

.noteBlock {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem;

	background-color: $manuscriptBege;
	color: $darkBG;
	font-size: .85rem;
	display: none;

	a {
		color: hsl(205, 80%, 47%)
	}
}

.closeNote {
	float:right;
	cursor: pointer;
}
