html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	font-size: 1rem;
}

.tempContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
	background-color: rgb(231, 232, 222);
	width: 100vw;
	height: auto;
}

#th1, #th2, #th3 {
	display: none;
}



.tempContent {
  max-width: 650px;
  width: 100%;
  padding: 0 2rem;

	img {
		width: 300px;
		height: auto;
	}
}


.tempTitle {
  background-color: hsl(307, 23%, 93%);
	padding: 1rem 1rem;
	margin: 0 -1rem;
}

nav {
  background-color: hsl(77, 20%, 83%);
  padding: 1rem 1rem;
  margin: 0 -1rem;
}

.timeline {
  background-color: hsl(51, 29%, 90%);
  width: 100vw;
  height: calc(100vh - 6rem);
  min-width: 500px;
}
